.root {
  position: relative;
  width: 100%;
  background: var(--surface-inverse);
}

.media {
  width: 100%;
  min-height: 220px;
  border: none;
  border-radius: 0;
}

@media (721px <= width < 1025px) {
  .media {
    min-height: 320px;
  }
}

@media (width < 721px) {
  .media {
    min-height: 200px;
    aspect-ratio: 4 / 3;
  }
}

@media (min-width: 1025px) {
  .media {
    min-height: 420px;
  }
}
