openapi: 3.0.3
info:
  title: PrescribeRx REST API
  description: |
    REST API for the PrescribeRx telehealth and pharmacy platform.

    ## Required Headers

    Every request to `/api/v1/*` MUST include these headers:

    ```
    Accept: application/json
    Authorization: Bearer {token}       (all endpoints except /auth/login and /auth/password/forgot)
    Content-Type: application/json      (POST/PUT/PATCH requests with a JSON body)
    ```

    **The `Accept: application/json` header is mandatory.** Without it, authentication
    failures historically returned a 302 redirect to the web login page instead of a
    JSON 401 body — masking the real error from integrators. The server now injects
    this header via middleware on every `/api/*` request as a safety net, but clients
    SHOULD still send it explicitly for portability and to match the documented contract.

    If you ever receive an HTML response or a 302 redirect, check that (1) your HTTP
    client is actually sending the `Accept: application/json` header, and (2) the full
    token string from `POST /auth/login` is in the `Authorization` header (including
    the `{id}|` prefix Sanctum emits).

    ## Authentication

    All authenticated endpoints require a Bearer token obtained via `POST /auth/login`.

    ```
    Authorization: Bearer {token}
    ```

    Tokens are scoped with abilities based on user type. The ability list
    below mirrors `App\Enums\Api\TokenAbility::forUserType()` exactly — that
    method is the authoritative source. Wildcards are NOT issued (e.g.,
    `encounter:*`); each ability is granted explicitly.

    | User Type           | Value | Abilities |
    |---------------------|-------|-----------|
    | Provider            | 0     | encounter:read, encounter:create, encounter:update, prescription:read, prescription:create, prescription:sign, patient:read, patient:update, provider:read, provider:update, product:read |
    | Patient             | 1     | patient:read, patient:update, patient:vitals, order:read, telehealth:read, telehealth:submit, encounter:read, prescription:read, product:read |
    | Sales Organization  | 2     | sales-org:read, sales-org:update, client:read, client:create, order:read, order:create, order:update, product:read, patient:read, patient:create, patient:update, prescription:read, telehealth:read, telehealth:submit, encounter:read, encounter:create, encounter:update, webhook:read, webhook:create, webhook:update, webhook:delete |
    | API                 | 3     | `*` (all abilities) |
    | System Admin        | 4     | `*` (all abilities) |
    | Client              | 6     | client:read, client:update, order:create, order:read, order:update, prescription:read, patient:read, patient:create, patient:update, product:read, telehealth:read, telehealth:submit, encounter:read, encounter:create, encounter:update, webhook:read, webhook:create, webhook:update, webhook:delete |
    | Super Admin         | 8     | `*` (all abilities) |
    | Client Provider     | 9     | client:read, client:update, order:create, order:read, order:update, prescription:read, prescription:create, prescription:sign, encounter:create, encounter:read, encounter:update, patient:read, patient:create, patient:update, product:read, provider:read, provider:update, telehealth:read, telehealth:submit, webhook:read, webhook:create, webhook:update, webhook:delete |
    | Client Administrator| 10    | Identical ability list to Client (tenant-scoped at policy layer) |

    Ambassador (5), Affiliate (7), and Telehealth Admin (11) currently
    receive no API abilities — `forUserType()` returns `[]` for them.

    **Token type guard on payment.mode=authorize:** sales-org / client tokens
    cannot use `payment.mode=authorize` on the unified intake endpoint —
    PRX is not the merchant of record for API-driven flows. Use
    `reference_captured` (record-only) or `patient_review` (deferred portal
    pay) instead. Embed-form tokens (browser-served) DO support `authorize`
    because PRX is the merchant on the embed flow.

    ## Response Format

    All responses follow a standard envelope:

    ```json
    {
      "success": true,
      "data": { ... },
      "message": "Optional message",
      "meta": {
        "request_id": "uuid",
        "timestamp": "2026-04-03T12:00:00+00:00"
      }
    }
    ```

    Paginated responses include `meta.pagination`:

    ```json
    {
      "meta": {
        "pagination": {
          "current_page": 1,
          "last_page": 5,
          "per_page": 25,
          "total": 112,
          "from": 1,
          "to": 25
        }
      }
    }
    ```

    ## Rate Limiting

    | Scope | Limit |
    |-------|-------|
    | General | 60 requests/minute per user |
    | Auth endpoints | 10 requests/minute per IP |
    | Order creation | 30 requests/minute per user |

    Rate limit headers: `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `Retry-After` (on 429).

    ## HTTP Status Codes

    | Code | Meaning |
    |------|---------|
    | 200 | Success |
    | 201 | Created |
    | 400 | Business rule error |
    | 401 | Unauthenticated |
    | 402 | Payment failed |
    | 403 | Forbidden |
    | 404 | Not found |
    | 422 | Validation error |
    | 429 | Rate limited |
    | 500 | Server error |

  version: 1.0.0
  contact:
    name: PrescribeRx API Support
    email: api@prescribe-rx.com
  license:
    name: Proprietary

servers:
  - url: https://demo.prescribe-rx.com/api/v1
    description: Demo / Sandbox (safe for testing)
  - url: https://prescribe-rx.com/api/v1
    description: Production

tags:
  - name: Auth
    description: Authentication, token management, and password reset
  - name: Clients
    description: Client provisioning, custom pricing, orders, and the order-mirror endpoint
  - name: Products
    description: Product catalog (public + authenticated pricing)
  - name: Packages
    description: Product packages
  - name: Telehealth
    description: Encounter types, schemas, and intake submission
  - name: Encounters
    description: Encounter lifecycle management
  - name: Orders
    description: Order creation, tracking, and fulfillment
  - name: Pricing
    description: Coupon validation, cart preview, and shipping rates
  - name: Patients
    description: Patient chart management and sub-resources
  - name: PaymentMethods
    description: Card vaulting and payment method management
  - name: Payments
    description: Merchant-account discovery (redacted) for subscription billing
  - name: Transactions
    description: External transaction recording
  - name: Subscriptions
    description: Patient subscription management
  - name: LabOrders
    description: Lab order creation and tracking (tenant-scoped index + show)
  - name: LabCatalog
    description: |
      Lab reference data — panels (named test bundles), tests (orderable
      lab units, often Rupa-synced), biomarkers (canonical SystemBiomarker
      concepts that lab tests map to for analytics + flagging), and
      encounter-type lab requirements.
  - name: Scheduling
    description: Provider availability and appointment booking
  - name: Terminology
    description: Medical terminology typeahead search
  - name: Webhooks
    description: Webhook subscription management
  - name: ExternalTelehealth
    description: |
      Surface for 3rd-party telehealth companies that prescribe in their
      own e-Rx system and route fulfillment through PrescribeRx. Three
      endpoints: register providers by NPI, look them up after admin
      approval, and submit fully-formed orders with the signed PDF
      attached. Sales-org tokens (multi-clinic integrators) AND client
      tokens (single-clinic direct integrators) are both supported —
      the effective sales-org id resolves from `user.sales_organization_id`
      or `user.client.sales_organization_id`. The three abilities
      (`external-telehealth:providers:write`/`:read`/`orders:write`) are
      NOT in any default ability set — granted manually per integrator.
      Reference guide: `/api/docs/external-telehealth-guide`.
  - name: Me
    description: Current user profile, password, and settings
  - name: PatientPortal
    description: Patient self-service portal — chart, vitals, allergies, medications, conditions, encounters, orders, dashboard
  - name: PatientVitals
    description: Provider-facing CRUD over patient vital readings + analytics
  - name: Prescriptions
    description: Prescription read, cancel, and status updates
  - name: Chat
    description: |
      Public chat-agent endpoints for the drop-in JS widget on
      sales-org websites. Origin-gated + per-origin rate-limited; no
      Sanctum bearer required. The chat agent recommends 1–3
      products from a sales-org's curated catalog via Bedrock
      (Claude Sonnet 4.6).

      **Important:** these endpoints DO NOT use the standard
      `success/data/meta` envelope. They return domain-shaped JSON
      directly because the public contract is the JS widget — adding
      ~80 bytes per turn for an envelope wasn't worth the
      consistency win. Treat the response shapes as the authoritative
      contract.

      Drop-in widget reference + SDK guide: `/api/docs/chat-widget-guide`.
  - name: Providers
    description: Provider profile, availability, licenses, signature, and weekly schedule / overrides
  - name: SalesOrganizations
    description: Sales-organization CRUD, hierarchy (children), and their clients / orders
  - name: BulkOrders
    description: |
      Asynchronous bulk-order intake for external e-Rx systems — stage a
      fully-formed prescription + order, poll for status, then view/download
      the prescription. Distinct from `POST /orders/bulk` (a synchronous
      checkout). These endpoints do NOT use the standard `success/data/meta`
      envelope; the shapes are documented literally per endpoint.
  - name: Peptides
    description: |
      Read-only Peptide / Ingredient Knowledge Base — a global catalog of
      active compounds with narrative sections (overview, pharmacology,
      clinical evidence, dosing guidelines, safety profile, patient summary),
      approved dosing guidance, and clinical references.

      **Audience shaping** — the `audience` query param (`patient` | `clinician`,
      default `patient`) shapes the detail returned. `patient` returns the
      overview + patient summary; `clinician` adds the dense clinical sections
      (pharmacology, clinical evidence, dosing guidelines, safety profile,
      mechanism, evidence score). Dosing guidance is returned to both.

      **Clinical-safety gating** — approved drug-interactions and preclusions are
      returned ONLY when `audience=clinician` AND the token holds the
      `peptide:clinical:read` ability. A read-only token, or a patient-audience
      request, receives those fields as `null` (gated, not empty).

      **PRX prerequisites** — the `peptide:read` ability (and, for the safety
      data, `peptide:clinical:read`) is granted MANUALLY per integrator on the
      API token; neither is in any default ability set. Only `review_status`
      = `approved` supporting data is ever exposed. No PHI; global (no tenant scope).

# ============================================================================
# PATHS
# ============================================================================
paths:

  # --------------------------------------------------------------------------
  # Peptides — Ingredient Knowledge Base (peptide:read)
  # --------------------------------------------------------------------------
  /peptides:
    get:
      tags: [Peptides]
      summary: List peptides
      description: |
        Searchable, paginated catalog of active compounds. `search` matches
        generic name / class (partial) and exact synonym / brand name.

        Requires the `peptide:read` token ability (manual grant).
      operationId: listPeptides
      security:
        - bearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema: { type: string }
          example: semaglutide
        - name: per_page
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl "https://demo.prescribe-rx.com/api/v1/peptides?search=semaglutide" \
              -H "Authorization: Bearer $TOKEN" \
              -H "Accept: application/json"
        - lang: PHP
          label: PHP (Laravel HTTP)
          source: |
            $res = Http::withToken($token)->acceptJson()
                ->get('https://demo.prescribe-rx.com/api/v1/peptides', ['search' => 'semaglutide']);
            $items = $res->json('data');
        - lang: JavaScript
          label: JavaScript (fetch)
          source: |
            const res = await fetch('https://demo.prescribe-rx.com/api/v1/peptides?search=semaglutide', {
              headers: { Authorization: `Bearer ${token}`, Accept: 'application/json' },
            });
            const { data } = await res.json();
        - lang: Python
          label: Python (requests)
          source: |
            import requests
            res = requests.get(
                'https://demo.prescribe-rx.com/api/v1/peptides',
                headers={'Authorization': f'Bearer {token}', 'Accept': 'application/json'},
                params={'search': 'semaglutide'},
            )
            items = res.json()['data']
      responses:
        '200':
          description: A page of peptides
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/PeptideListItem' }
                  meta: { type: object }
              example:
                success: true
                data:
                  - generic_name: semaglutide
                    compound_class: GLP-1 receptor agonist
                    brand_names: [Ozempic, Wegovy]
                    synonyms: [semaglutide]
                    evidence_tier: A
                    summary: Semaglutide is a GLP-1 receptor agonist used for type 2 diabetes and weight management…
                    updated_at: '2026-09-11T05:12:32+00:00'
                meta: { current_page: 1, per_page: 25, total: 106 }
        '401':
          description: Unauthenticated
        '403':
          description: Token missing the peptide:read ability

  /peptides/{peptide}:
    get:
      tags: [Peptides]
      summary: Get a peptide
      description: |
        One compound by generic name (case-insensitive; falls back to an exact
        synonym / brand-name match).

        `audience=clinician` returns the full clinical sections; `audience=patient`
        (default) returns the patient-facing subset. Approved `drug_interactions`
        and `preclusions` are included ONLY when `audience=clinician` AND the token
        holds `peptide:clinical:read` — otherwise they are `null`.

        Requires the `peptide:read` token ability (manual grant).
      operationId: getPeptide
      security:
        - bearerAuth: []
      parameters:
        - name: peptide
          in: path
          required: true
          description: Generic name (URL-encoded), or an exact synonym / brand name.
          schema: { type: string }
          example: semaglutide
        - name: audience
          in: query
          required: false
          schema: { type: string, enum: [patient, clinician], default: patient }
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl "https://demo.prescribe-rx.com/api/v1/peptides/semaglutide?audience=clinician" \
              -H "Authorization: Bearer $TOKEN" \
              -H "Accept: application/json"
        - lang: PHP
          label: PHP (Laravel HTTP)
          source: |
            $res = Http::withToken($token)->acceptJson()
                ->get('https://demo.prescribe-rx.com/api/v1/peptides/semaglutide', ['audience' => 'clinician']);
            $peptide = $res->json('data');
        - lang: JavaScript
          label: JavaScript (fetch)
          source: |
            const res = await fetch('https://demo.prescribe-rx.com/api/v1/peptides/semaglutide?audience=clinician', {
              headers: { Authorization: `Bearer ${token}`, Accept: 'application/json' },
            });
            const { data } = await res.json();
        - lang: Python
          label: Python (requests)
          source: |
            import requests
            res = requests.get(
                'https://demo.prescribe-rx.com/api/v1/peptides/semaglutide',
                headers={'Authorization': f'Bearer {token}', 'Accept': 'application/json'},
                params={'audience': 'clinician'},
            )
            peptide = res.json()['data']
      responses:
        '200':
          description: The peptide
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data: { $ref: '#/components/schemas/Peptide' }
                  meta: { type: object }
        '401':
          description: Unauthenticated
        '403':
          description: Token missing the peptide:read ability
        '404':
          description: Peptide not found

  # --------------------------------------------------------------------------
  # Auth
  # --------------------------------------------------------------------------
  /auth/login:
    post:
      tags: [Auth]
      summary: Login
      description: Authenticate and receive a bearer token with scoped abilities.
      operationId: login
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X POST "https://demo.prescribe-rx.com/api/v1/auth/login" \
              -H "Content-Type: application/json" \
              -H "Accept: application/json" \
              -d '{
                "email": "you@example.com",
                "password": "your-password",
                "device_name": "api-integration"
              }'
        - lang: PHP
          label: PHP (Laravel HTTP)
          source: |
            $response = Http::acceptJson()
                ->post('https://demo.prescribe-rx.com/api/v1/auth/login', [
                    'email' => 'you@example.com',
                    'password' => 'your-password',
                    'device_name' => 'api-integration',
                ]);

            $token = $response->json('data.token');
        - lang: JavaScript
          label: JavaScript (fetch)
          source: |
            const res = await fetch('https://demo.prescribe-rx.com/api/v1/auth/login', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json', Accept: 'application/json' },
              body: JSON.stringify({
                email: 'you@example.com',
                password: 'your-password',
                device_name: 'api-integration',
              }),
            });
            const { data } = await res.json();
            const token = data.token;
        - lang: Python
          label: Python (requests)
          source: |
            import requests

            res = requests.post(
                'https://demo.prescribe-rx.com/api/v1/auth/login',
                headers={'Accept': 'application/json'},
                json={
                    'email': 'you@example.com',
                    'password': 'your-password',
                    'device_name': 'api-integration',
                },
            )
            token = res.json()['data']['token']
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: api@demo-client.com
              password: your-password
              device_name: api-integration
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              example:
                success: true
                data:
                  user:
                    id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    email: api@demo-client.com
                    name: API User
                    first_name: API
                    last_name: User
                    user_type: 6
                    user_type_label: Client
                    client_id: "019c94dd-8292-7112-9e5b-c458125e8d33"
                    sales_organization_id: "019c94db-ec31-732b-9fe7-fb97190e7e87"
                    patient_chart_id: null
                    provider_profile_id: null
                  token: "1|abc123def456..."
                  abilities:
                    - "client:read"
                    - "order:create"
                    - "product:read"
                  expires_at: "2026-04-04T12:00:00+00:00"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh token
      description: Exchange current token for a new one. Old token is revoked.
      operationId: refreshToken
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_name]
              properties:
                device_name:
                  type: string
                  example: api-integration
      responses:
        '200':
          description: New token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout
      description: Revoke current access token.
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                success: true
                message: Logged out successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current user
      description: Get authenticated user profile and current token abilities.
      operationId: getMe
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/password/forgot:
    post:
      tags: [Auth]
      summary: Request password reset
      description: Send password reset email.
      operationId: forgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Reset email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/password/reset:
    post:
      tags: [Auth]
      summary: Reset password
      description: Reset password with token from email.
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, token, password, password_confirmation]
              properties:
                email:
                  type: string
                  format: email
                token:
                  type: string
                password:
                  type: string
                  minLength: 8
                password_confirmation:
                  type: string
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  # --------------------------------------------------------------------------
  # Products
  # --------------------------------------------------------------------------
  /products:
    get:
      tags: [Products]
      summary: List products
      description: |
        List active products. **Public** (no auth required).
        If authenticated, pricing adjusts to client-specific rates (wholesale or custom).
      operationId: listProducts
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://demo.prescribe-rx.com/api/v1/products?per_page=10&sort=name" \
              -H "Authorization: Bearer $TOKEN" \
              -H "Accept: application/json"
        - lang: PHP
          label: PHP (Laravel HTTP)
          source: |
            $products = Http::withToken($token)
                ->acceptJson()
                ->get('https://demo.prescribe-rx.com/api/v1/products', [
                    'per_page' => 10,
                    'sort' => 'name',
                ])
                ->json('data');
        - lang: JavaScript
          label: JavaScript (fetch)
          source: |
            const res = await fetch(
              'https://demo.prescribe-rx.com/api/v1/products?per_page=10&sort=name',
              { headers: { Authorization: `Bearer ${token}`, Accept: 'application/json' } },
            );
            const { data } = await res.json();
        - lang: Python
          label: Python (requests)
          source: |
            import requests

            res = requests.get(
                'https://demo.prescribe-rx.com/api/v1/products',
                headers={'Authorization': f'Bearer {token}', 'Accept': 'application/json'},
                params={'per_page': 10, 'sort': 'name'},
            )
            products = res.json()['data']
      parameters:
        - name: filter[product_class_id]
          in: query
          schema:
            type: string
            format: uuid
        - name: filter[product_type_id]
          in: query
          schema:
            type: string
            format: uuid
        - name: filter[name]
          in: query
          schema:
            type: string
          description: Partial match
        - name: filter[sku]
          in: query
          schema:
            type: string
          description: Partial match
        - name: filter[rx_required]
          in: query
          schema:
            type: boolean
        - name: search
          in: query
          schema:
            type: string
          description: Full-text search across name, sku, description
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, -name, created_at, -created_at, retail_price, -retail_price]
        - name: include
          in: query
          schema:
            type: string
          description: "Comma-separated: productClass, productType, packages, doses"
        - $ref: '#/components/parameters/PerPageParam'
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: Paginated list of products
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                success: true
                data:
                  - id: "019bde3e-e71a-7225-98fe-8f28b4cbcd77"
                    sku: "5AMINO-10MG"
                    name: "5 AMINO 1MQ - 10 mg"
                    description: "5 AMINO 1MQ capsules, 10mg strength"
                    rx_required: true
                    is_active: true
                    image_url: null
                    pricing:
                      retail_price: 10.00
                      price: 10.00
                      price_type: retail
                meta:
                  request_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  timestamp: "2026-04-03T12:00:00+00:00"
                  pagination:
                    current_page: 1
                    last_page: 5
                    per_page: 10
                    total: 48

  /products/{id}:
    get:
      tags: [Products]
      summary: Get product detail
      description: Get a single product with optional includes. **Public.**
      operationId: getProduct
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: "019bde3e-e71a-7225-98fe-8f28b4cbcd77"
      responses:
        '200':
          description: Product detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'

  /products/{id}/packages:
    get:
      tags: [Products]
      summary: List product packages
      description: List packages for a specific product. **Public.**
      operationId: listProductPackages
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: "019bde3e-e71a-7225-98fe-8f28b4cbcd77"
      responses:
        '200':
          description: List of packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Package'
        '404':
          $ref: '#/components/responses/NotFound'

  /products/{id}/doses:
    get:
      tags: [Products]
      summary: List product doses
      description: List dose options for a product. **Public.**
      operationId: listProductDoses
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: "019bde3e-e71a-7225-98fe-8f28b4cbcd77"
      responses:
        '200':
          description: List of dose options
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DoseProduct'
        '404':
          $ref: '#/components/responses/NotFound'

  # --------------------------------------------------------------------------
  # Catalog — single-call scoped products + packages + plans + items
  # --------------------------------------------------------------------------
  /catalog:
    get:
      tags: [Products]
      summary: Comprehensive scoped catalog (products + packages + plans + items)
      description: |
        Single endpoint that returns everything an integrator needs to render
        a checkout — products + packages with nested plans + items + product,
        all scoped to the bearer token's tenant via `ApiCatalogScopeResolver`.
        Matches the shape the web embed uses internally.

        Pricing fields are visibility-gated:
          - patient / unauth → retail only
          - sales-org / client / admin → retail + wholesale + (optional)
            consumer / custom + (admin) cost
        Sales-org overrides on `sales_organization_products` (when
        `*_override` flags set) win over the system default. Client tier
        overrides win for that client.
      operationId: getCatalog
      security:
        - bearerAuth: []
      parameters:
        - name: include_inactive
          in: query
          description: Admin tokens only — include is_active=false packages and plans.
          schema: { type: boolean, default: false }
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://demo.prescribe-rx.com/api/v1/catalog" \
              -H "Authorization: Bearer $TOKEN" \
              -H "Accept: application/json"
        - lang: PHP
          label: PHP (Laravel HTTP)
          source: |
            $catalog = Http::withToken($token)
                ->acceptJson()
                ->get('https://demo.prescribe-rx.com/api/v1/catalog')
                ->json();

            $products = $catalog['products'];
            $packages = $catalog['packages'];
        - lang: JavaScript
          label: JavaScript (fetch)
          source: |
            const res = await fetch('https://demo.prescribe-rx.com/api/v1/catalog', {
              headers: { Authorization: `Bearer ${token}`, Accept: 'application/json' },
            });
            const { products, packages, scope, meta } = await res.json();
        - lang: Python
          label: Python (requests)
          source: |
            import requests

            catalog = requests.get(
                'https://demo.prescribe-rx.com/api/v1/catalog',
                headers={'Authorization': f'Bearer {token}', 'Accept': 'application/json'},
            ).json()
            products, packages = catalog['products'], catalog['packages']
      responses:
        '200':
          description: Scoped catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  scope:
                    type: object
                    properties:
                      sales_organization_id:   { type: string, format: uuid, nullable: true }
                      sales_organization_name: { type: string, nullable: true }
                      client_id:               { type: string, format: uuid, nullable: true }
                      client_name:             { type: string, nullable: true }
                      admin:                   { type: boolean }
                  products:
                    type: array
                    items: { $ref: '#/components/schemas/Product' }
                  packages:
                    type: array
                    items: { $ref: '#/components/schemas/Package' }
                  meta:
                    type: object
                    properties:
                      product_count: { type: integer }
                      package_count: { type: integer }
                      generated_at:  { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # --------------------------------------------------------------------------
  # Product taxonomy (classes + types)
  # --------------------------------------------------------------------------
  /product-classes:
    get:
      tags: [Products]
      summary: List product classes
      description: |
        The complete, unscoped list of active product **classes** — the broadest
        level of the catalog taxonomy (e.g. "GLP-1s & GIPs"). Many embeds and
        encounter types are configured by class or type, so this lets an integrator
        map its own front-end to PRX classes without parsing the product list.

        `slug` is a stable identifier (the display `name` may be edited) and is the
        value accepted as `products[].product_class_slug` on
        `POST /telehealth/intake/unified`.
      parameters:
        - name: search
          in: query
          schema: { type: string }
          description: Case-insensitive LIKE filter on the class name.
      responses:
        '200':
          description: Product classes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ProductClass' }
              example:
                success: true
                data:
                  - id: 019b8f02-7d68-72d7-90e8-1be7ff3b94e1
                    name: GLP-1s & GIPs
                    short_name: GLP-1s & GIPs
                    slug: glp-1s-gips
                    description: null
                    is_active: true
        '401': { $ref: '#/components/responses/Unauthorized' }

  /product-types:
    get:
      tags: [Products]
      summary: List product types
      description: |
        The complete, unscoped list of active product **types** — one level below
        class (e.g. "Semaglutide", "Tirzepatide"). Optionally filter to a class.

        `slug` is a stable identifier and is the value accepted as
        `products[].product_type_slug` on `POST /telehealth/intake/unified`;
        `product_class_id` links the type to its class.
      parameters:
        - name: search
          in: query
          schema: { type: string }
          description: Case-insensitive LIKE filter on the type name.
        - name: filter.product_class_id
          in: query
          schema: { type: string, format: uuid }
          description: Return only types in this class.
      responses:
        '200':
          description: Product types.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ProductType' }
              example:
                success: true
                data:
                  - id: 019b9783-6a7e-73fc-92d6-2970937796db
                    product_class_id: 019b8f02-7d68-72d7-90e8-1be7ff3b94e1
                    name: Semaglutide
                    short_name: Semaglutide
                    slug: injectable
                    description: null
                    rx_required: true
                    is_active: true
        '401': { $ref: '#/components/responses/Unauthorized' }

  # --------------------------------------------------------------------------
  # Packages
  # --------------------------------------------------------------------------
  /packages:
    get:
      tags: [Packages]
      summary: List packages (tenant-scoped, paginated, nested)
      description: |
        Returns packages with nested plans + items + product, scoped to the
        bearer token's tenant (see `ApiCatalogScopeResolver`). Same shape as
        `/catalog.packages` so a single call returns everything an integrator
        needs to render a checkout. Pricing fields are visibility-gated —
        sales-org/client/admin tokens see wholesale; patient tokens see retail
        only.
      operationId: listPackages
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://demo.prescribe-rx.com/api/v1/packages?per_page=10" \
              -H "Authorization: Bearer $TOKEN" \
              -H "Accept: application/json"
        - lang: PHP
          label: PHP (Laravel HTTP)
          source: |
            $packages = Http::withToken($token)
                ->acceptJson()
                ->get('https://demo.prescribe-rx.com/api/v1/packages', ['per_page' => 10])
                ->json('data');
        - lang: JavaScript
          label: JavaScript (fetch)
          source: |
            const res = await fetch(
              'https://demo.prescribe-rx.com/api/v1/packages?per_page=10',
              { headers: { Authorization: `Bearer ${token}`, Accept: 'application/json' } },
            );
            const { data: packages } = await res.json();
        - lang: Python
          label: Python (requests)
          source: |
            import requests

            res = requests.get(
                'https://demo.prescribe-rx.com/api/v1/packages',
                headers={'Authorization': f'Bearer {token}', 'Accept': 'application/json'},
                params={'per_page': 10},
            )
            packages = res.json()['data']
      parameters:
        - name: filter[product_id]
          in: query
          schema:
            type: string
            format: uuid
        - name: filter[name]
          in: query
          schema:
            type: string
          description: Partial match
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, -name, created_at, -created_at]
        - $ref: '#/components/parameters/PerPageParam'
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: Paginated list of packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Package'
                  meta:
                    $ref: '#/components/schemas/Meta'

  /packages/{id}:
    get:
      tags: [Packages]
      summary: Get package detail
      description: Get package with product and items. **Public.**
      operationId: getPackage
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Package detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Package'
        '404':
          $ref: '#/components/responses/NotFound'

  # --------------------------------------------------------------------------
  # Telehealth
  # --------------------------------------------------------------------------
  /telehealth/shipping-eligibility:
    post:
      tags: [Telehealth]
      summary: Pre-intake shipping eligibility
      description: |
        Check, before starting intake, whether the chosen products can ship to a
        patient's state (fulfillment-center state licensing). Returns per-product
        eligibility + an overall flag.
      operationId: checkShippingEligibility
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state, product_ids]
              properties:
                state: { type: string, minLength: 2, maxLength: 2, description: "Two-letter US state code, e.g. GA" }
                product_ids:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items: { type: string, format: uuid }
            example: { state: "GA", product_ids: ["019b9783-d3fe-730a-8278-b131e3ad6b57"] }
      responses:
        '200': { description: Eligibility, content: { application/json: { schema: { $ref: '#/components/schemas/SuccessEnvelope' } } } }
        '422': { $ref: '#/components/responses/ValidationError' }

  /telehealth/encounter-types:
    get:
      tags: [Telehealth]
      summary: List encounter types
      description: List all active encounter types available for intake.
      operationId: listEncounterTypes
      security:
        - bearerAuth: []
      parameters:
        - name: telehealth_company_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by telehealth company
      responses:
        '200':
          description: List of encounter types
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EncounterType'
              example:
                success: true
                data:
                  - id: "019ce396-46a1-73ab-87d6-c40310555401"
                    name: "GLP-1 Screening"
                    slug: "glp1-screening"
                    description: "GLP-1 weight management screening"
                    icon: "ti-stethoscope"
                    product_class: "Weight Management"
                    product_type: "GLP-1 Agonist"
                    is_featured: true
                    requires_labs: false
                    interaction_type: 1
                    interaction_type_label: "Asynchronous"
                    is_quick_consult: false
        '401':
          $ref: '#/components/responses/Unauthorized'

  /telehealth/encounter-types/{encounterType}/schema:
    get:
      tags: [Telehealth]
      summary: Get encounter type schema
      description: |
        Returns the complete field schema for an encounter type including all steps,
        fields with slugs, validation rules, and options. Use this to discover what
        `answers` keys to send in the unified intake endpoint.
      operationId: getEncounterTypeSchema
      security:
        - bearerAuth: []
      parameters:
        - name: encounterType
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: "019ce396-46a1-73ab-87d6-c40310555401"
      responses:
        '200':
          description: Encounter type schema with steps and fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      encounter_type:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          slug:
                            type: string
                          description:
                            type: string
                      steps:
                        type: array
                        items:
                          type: object
                          properties:
                            step_name:
                              type: string
                            step_description:
                              type: string
                            step_type:
                              type: string
                            display_order:
                              type: integer
                            is_required:
                              type: boolean
                            fields:
                              type: array
                              items:
                                type: object
                                properties:
                                  slug:
                                    type: string
                                    description: Use as key in the answers payload
                                  label:
                                    type: string
                                  field_type:
                                    type: string
                                    description: See EncounterFieldType enum
                                  field_type_label:
                                    type: string
                                  is_required:
                                    type: boolean
                                  help_text:
                                    type: string
                                    nullable: true
                                  placeholder:
                                    type: string
                                    nullable: true
                                  validation:
                                    type: object
                                    nullable: true
                                  options:
                                    type: array
                                    nullable: true
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: string
                                        label:
                                          type: string
                                  min:
                                    nullable: true
                                  max:
                                    nullable: true
                                  depends_on:
                                    type: string
                                    nullable: true
                                  has_preclusions:
                                    type: boolean
                                  maps_to:
                                    type: string
                                    nullable: true
                      field_slugs:
                        type: array
                        items:
                          type: string
                        description: All available field slugs for this encounter type
                      required_slugs:
                        type: array
                        items:
                          type: string
                        description: Required field slugs
                  meta:
                    type: object
                    properties:
                      total_steps:
                        type: integer
                      total_fields:
                        type: integer
                      usage:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /telehealth/preclusions/evaluate:
    post:
      tags: [Telehealth]
      summary: Evaluate preclusions in real-time
      description: |
        Stateless preclusion evaluator that mirrors the embed's live-firing
        logic. Submit an encounter type + answer set (and optionally a
        patient chart) and get back every preclusion that would fire —
        without creating an encounter or mutating any chart data.

        **Identical evaluation as the embed.** Under the hood the endpoint
        calls the same `PreclusionCheckService` methods (`evaluateFieldPreclusions`
        + `checkPreclusions`) that the front-end Livewire `StepRenderer`
        invokes on every keystroke. If the embed fires a preclusion for an
        input, this endpoint fires the same one. Guaranteed by shared logic.

        **Encounter type:** Provide exactly one of `encounter_type_id` or
        `encounter_type_slug`.

        **Answers:** Object keyed by `EncounterField.slug` (the same keys
        you'd send to `POST /telehealth/intake/unified`). Values may be
        string / number / boolean / array (arrays for multiselect / checkbox).
        Partial answer sets are fine — only fields you supply are evaluated.

        **Patient chart (optional):** When `patient_chart_id` is provided,
        terminology-based preclusions also fire against the chart's
        allergies / medications / conditions. Omit for a new-patient
        pre-validation use case.

        **Use cases:**
          - Live front-end validation as the patient answers questions
          - Pre-flight check before `POST /telehealth/intake/unified` to
            warn the patient about contraindications
          - Server-side audit: verify your stored answers still wouldn't
            fire preclusions today (e.g., after a clinical rules update)

        **Returns** each triggered preclusion with a `source` tag:
          - `field_config` — per-field `preclusion_config` JSON rule (v1/v2)
          - `encounter_type_rule` — global preclusion attached to the
            EncounterType / ProductClass / ProductType
          - `terminology` — chart-based rule (only when `patient_chart_id`
            is supplied)

        Plus a `summary` block with counts by severity and a `has_hard_stop`
        boolean for quick gating.
      operationId: evaluatePreclusions
      security:
        - bearerAuth: []
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X POST "https://demo.prescribe-rx.com/api/v1/telehealth/preclusions/evaluate" \
              -H "Authorization: Bearer YOUR_API_TOKEN" \
              -H "Content-Type: application/json" \
              -H "Accept: application/json" \
              -d '{
                "encounter_type_slug": "glp-1-screening",
                "answers": {
                  "glp1_adverse_reaction_direct": "Yes",
                  "currently_taking_glp": "yes",
                  "hba1c_over_8": ["yes_hba1c_over_8"]
                }
              }'
        - lang: PHP
          label: PHP (Guzzle)
          source: |
            <?php
            $client = new GuzzleHttp\Client(['base_uri' => 'https://demo.prescribe-rx.com']);
            $response = $client->post('/api/v1/telehealth/preclusions/evaluate', [
                'headers' => [
                    'Authorization' => 'Bearer ' . $_ENV['PRESCRIBE_RX_TOKEN'],
                    'Accept' => 'application/json',
                ],
                'json' => [
                    'encounter_type_slug' => 'glp-1-screening',
                    'answers' => [
                        'glp1_adverse_reaction_direct' => 'Yes',
                        'currently_taking_glp' => 'yes',
                        'hba1c_over_8' => ['yes_hba1c_over_8'],
                    ],
                    'patient_chart_id' => $existingPatientChartId ?? null,
                ],
            ]);
            $body = json_decode($response->getBody(), true);
            $hardStop = $body['data']['summary']['has_hard_stop'] ?? false;
        - lang: JavaScript
          label: JavaScript (fetch)
          source: |
            const response = await fetch(
              'https://demo.prescribe-rx.com/api/v1/telehealth/preclusions/evaluate',
              {
                method: 'POST',
                headers: {
                  'Authorization': `Bearer ${process.env.PRESCRIBE_RX_TOKEN}`,
                  'Content-Type': 'application/json',
                  'Accept': 'application/json',
                },
                body: JSON.stringify({
                  encounter_type_slug: 'glp-1-screening',
                  answers: {
                    glp1_adverse_reaction_direct: 'Yes',
                    currently_taking_glp: 'yes',
                    hba1c_over_8: ['yes_hba1c_over_8'],
                  },
                  patient_chart_id: existingPatientChartId || undefined,
                }),
              }
            );
            const body = await response.json();
            const triggered = body.data.triggered_preclusions;
            if (body.data.summary.has_hard_stop) {
              // block submission, show provider-acknowledgment UI
            }
        - lang: Python
          label: Python (requests)
          source: |
            import os, requests

            r = requests.post(
                'https://demo.prescribe-rx.com/api/v1/telehealth/preclusions/evaluate',
                headers={
                    'Authorization': f"Bearer {os.environ['PRESCRIBE_RX_TOKEN']}",
                    'Accept': 'application/json',
                },
                json={
                    'encounter_type_slug': 'glp-1-screening',
                    'answers': {
                        'glp1_adverse_reaction_direct': 'Yes',
                        'currently_taking_glp': 'yes',
                        'hba1c_over_8': ['yes_hba1c_over_8'],
                    },
                },
            )
            data = r.json()['data']
            print(f"{data['summary']['total']} preclusions fired (hard stop: {data['summary']['has_hard_stop']})")
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [answers]
              description: |
                Provide exactly one of `encounter_type_id` or `encounter_type_slug`.
              properties:
                encounter_type_id:
                  type: string
                  format: uuid
                  description: Encounter type UUID. Provide this OR `encounter_type_slug`.
                  example: "019ce396-46a1-73ab-87d6-c40310555401"
                encounter_type_slug:
                  type: string
                  description: Encounter type slug. Provide this OR `encounter_type_id`.
                  example: "glp-1-screening"
                answers:
                  type: object
                  additionalProperties:
                    description: |
                      Answer value for the field whose slug is the key. Can be
                      string / number / boolean / array (arrays for multiselect
                      and checkbox fields).
                    oneOf:
                      - type: string
                      - type: number
                      - type: boolean
                      - type: array
                        items: { type: string }
                  description: |
                    Answer set keyed by `EncounterField.slug`. Same keys you'd
                    send to `POST /telehealth/intake/unified`. Partial sets ok.
                  example:
                    glp1_adverse_reaction_direct: "Yes"
                    currently_taking_glp: "yes"
                    hba1c_over_8: ["yes_hba1c_over_8"]
                patient_chart_id:
                  type: string
                  format: uuid
                  nullable: true
                  description: |
                    Optional patient chart UUID. When provided, terminology
                    preclusions (allergies / medications / conditions on the
                    chart) also evaluate. Omit for new-patient pre-validation.
      responses:
        '200':
          description: Evaluation result. May include zero triggered preclusions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      encounter_type:
                        type: object
                        properties:
                          id: { type: string, format: uuid }
                          slug: { type: string }
                          name: { type: string }
                      answers_evaluated:
                        type: object
                        description: Echo of the submitted answers.
                      patient_chart_id:
                        type: string
                        format: uuid
                        nullable: true
                      triggered_preclusions:
                        type: array
                        items:
                          type: object
                          properties:
                            preclusion_id:
                              type: string
                              nullable: true
                              description: Preclusion model UUID when the rule is bound to a persisted Preclusion row; null for inline field_config rules without a preclusion_id pointer.
                            source:
                              type: string
                              enum: [field_config, encounter_type_rule, terminology]
                            field_slug: { type: string }
                            field_label: { type: string }
                            option_value:
                              type: string
                              nullable: true
                              description: Specific option value that triggered the rule (for radio/checkbox/multiselect).
                            severity:
                              type: string
                              enum: [absolute, relative, warning, severe, warn, hardstop, soft]
                              description: |
                                Severity flavor. New code uses `absolute|relative|warning`;
                                legacy field_config rules may emit `severe|warn|hardstop|soft`.
                                Treat anything mapping to `absolute`/`severe`/`hardstop` as a
                                hard stop and refer to `can_override`.
                            severity_enum:
                              type: integer
                              description: Numeric severity (higher = more severe). Sortable.
                            can_override:
                              type: boolean
                              description: Whether the patient can proceed without provider intervention.
                            requires_acknowledgment:
                              type: boolean
                              description: Whether the provider must explicitly acknowledge the rule before signing.
                            message: { type: string }
                            reason: { type: string }
                            mode:
                              type: string
                              enum: [manual, auto_hard_stop, flag_and_warn, notify_provider_only, suggest_alternative]
                            alternative_suggestions:
                              type: array
                              items: { type: string }
                              description: Alternative product names / IDs the rule suggests instead.
                      summary:
                        type: object
                        properties:
                          total: { type: integer }
                          absolute: { type: integer }
                          relative: { type: integer }
                          warning: { type: integer }
                          has_hard_stop:
                            type: boolean
                            description: True when any triggered preclusion has `can_override=false`.
                          requires_acknowledgment_count:
                            type: integer
              example:
                success: true
                data:
                  encounter_type:
                    id: "019ce396-46a1-73ab-87d6-c40310555401"
                    slug: "glp-1-screening"
                    name: "GLP-1 Screening"
                  answers_evaluated:
                    glp1_adverse_reaction_direct: "Yes"
                    currently_taking_glp: "yes"
                  patient_chart_id: null
                  triggered_preclusions:
                    - preclusion_id: null
                      source: "field_config"
                      field_slug: "glp1_adverse_reaction_direct"
                      field_label: "Have you ever had an adverse or allergic reaction to Tirzepatide/Semaglutide/Liraglutide, or to any of its ingredients?"
                      option_value: "Yes"
                      severity: "warn"
                      severity_enum: 1
                      can_override: true
                      requires_acknowledgment: false
                      message: "Patients with a history of adverse or allergic reactions to Tirzepatide/Semaglutide/Liraglutide cannot proceed."
                      reason: "Patients with a history of adverse or allergic reactions to Tirzepatide/Semaglutide/Liraglutide cannot proceed."
                      mode: "manual"
                      alternative_suggestions: []
                  summary:
                    total: 1
                    absolute: 0
                    relative: 0
                    warning: 1
                    has_hard_stop: false
                    requires_acknowledgment_count: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Encounter type not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
                  message: { type: string, example: "Encounter type not found." }
        '422':
          description: |
            Validation error. Common cases:
              - Neither `encounter_type_id` nor `encounter_type_slug` provided
              - Both provided simultaneously
              - `answers` missing or not an object
              - `patient_chart_id` does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
                  message: { type: string }
                  errors: { type: object }

  /telehealth/intake/unified:
    post:
      tags: [Telehealth]
      summary: Unified intake -- create patient + encounter + answers
      description: |
        Single-call endpoint that creates a patient (or finds existing by email+DOB),
        creates an encounter, and submits intake answers in one request.

        **Required (Encounter Intake Safeguards, 2026-07-14):** `patient.first_name`,
        `patient.last_name`, `patient.email`, `patient.date_of_birth`,
        `patient.phone`, a **shipping address** (`patient.shipping_address` OR
        `patient.address`) with `street`/`city`/`state`/`zip`, and — unless the
        encounter type is a quick consult (`is_quick_consult: true`) — a
        product/package/plan selection. Missing any → `422` with per-field
        `errors`. A duplicate re-POST that changes existing patient data → `409`
        (use the PATCH endpoints to correct). See the `UnifiedIntakeRequest`
        schema and the `409`/`422` responses below.

        **Ordering a product TYPE (not a specific SKU):** to let the provider
        choose the concrete concentration/SKU at prescribe-time, send the type
        inside `products[]` as `{"product_type_id": "..."}` or
        `{"product_type_slug": "..."}` — **NOT** as a top-level field. A
        top-level `product_type_id` is silently ignored (it is not part of this
        request schema), which produces an encounter with nothing to prescribe.
        A generic-type line lands an `is_generic_reference` line the provider's
        prescribing panel renders as "type → pick dose → pick eligible SKU",
        exactly like a package's generic item. **This selection is mandatory
        even when the encounter type pins its own product catalog** — on this
        API the catalog alone does NOT satisfy the requirement (only the
        interactive embed/wizard flows treat it as pre-selected); omit a line on
        a non-quick-consult type and you get the `422` above.

        **Encounter type:** Specify by `encounter_type_id`, `encounter_type_slug`, or `encounter_type_name` (priority: id > slug > name).

        **Organization:** Use `client_id`/`client_number` and `sales_org_id`/`sales_org_number`. Falls back to authenticated user's org.

        **Answers:** Key by field slug from `GET /telehealth/encounter-types/{id}/schema`.

        **Scheduling (video visits):** Two booking flows. (1) Include the optional
        top-level `appointment` object here to book inline — the time maps onto the
        encounter (sets `scheduled_at`, assigns the provider, provisions the video
        room + join link), returned as `video_room`. (2) Omit `appointment`, then
        create the time separately: `GET /scheduling/availability/slots` → `POST
        /encounters/{id}/schedule` (which additionally supports auto-assign by
        omitting the provider). A scheduled time is always stored in UTC; a naive
        `scheduled_start` is interpreted in `patient_timezone`.

        **Idempotency:** Optional `Idempotency-Key` request header. When
        provided, the response body for the first successful call is
        cached for 24h under `(tenant, key)`. Any subsequent call with
        the SAME key + same tenant within that window returns the prior
        response verbatim, plus headers:
          - `X-Idempotent-Replayed: true`
          - `X-Idempotent-Original-At: <ISO8601>`
        No duplicate encounter is created on replay. Without the header
        the endpoint behaves as before (every call creates a new
        encounter). Recommended pattern: generate a UUID per logical
        intake submission and include it in your retry envelope so
        transient errors / double-fires don't create duplicates.

        **Payment & transaction details (IMPORTANT — read before integrating):**
        The `payment` block is **optional** and this endpoint will **never reject
        an intake for lacking payment detail** — an encounter is always created
        so your clinical workflow is never blocked. However, what you send (or
        omit) has real downstream consequences:

        - **Pass the transaction detail whenever you have it.** Use
          `mode=authorize` (we charge), or — if you ran the charge on your own
          gateway — `mode=reference_preauth` / `mode=reference_captured` with the
          gateway transaction id **and the `amount`**. The amount drives accurate
          **P&L / revenue reporting**, lets the charge be attributed to your sales
          org's merchant + this customer, and enables billing of any future
          subscription / refill / deferred capture on that same merchant
          relationship. Omitting transaction detail is like omitting the
          package/plan — the provider and the system then have no record of what
          the patient requested or paid.
        - **Collected payment in person / out of band (no electronic record)?**
          Omit `payment`, or use `mode=prepaid` (records the bypass + reason). The
          intake is accepted and flagged external; reconciliation is on your side.
        - **FAILSAFE — future billing requires a vaulted card.** When an intake
          arrives with no chargeable method on file, **no future auto-billing**
          (subscription rebill, refill charge, deferred capture) will proceed for
          that patient until they vault a card (on your merchant, or a system
          merchant if your org has none). The patient is prompted to add a card —
          we never silently charge and never silently fail. Plan your flow so the
          patient vaults a method before any recurring billing is expected.
      operationId: unifiedIntake
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            maxLength: 255
          description: |
            Opaque client-generated string (UUID recommended). Same key
            within 24h on the same tenant returns the original response
            verbatim with `X-Idempotent-Replayed: true`. Without this
            header every call creates a new encounter.
          example: "5f3d8a2c-9b1e-4f7a-8c3d-1e2b3c4d5e6f"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X POST "https://demo.prescribe-rx.com/api/v1/telehealth/intake/unified" \
              -H "Authorization: Bearer YOUR_API_TOKEN" \
              -H "Content-Type: application/json" \
              -H "Accept: application/json" \
              -d '{
                "encounter_type_id": "019ce396-46a1-73ab-87d6-c40310555401",
                "patient": {
                  "first_name": "Jane",
                  "last_name": "Smith",
                  "email": "jane.smith@example.com",
                  "date_of_birth": "1988-03-22",
                  "phone": "770-555-9876",
                  "gender": "female",
                  "address": {
                    "street": "456 Oak Ave",
                    "city": "Marietta",
                    "state": "GA",
                    "zip": "30060"
                  }
                },
                "vitals": { "height_inches": 64, "weight_lbs": 185 },
                "medical_history": {
                  "allergies": ["Penicillin"],
                  "medications": ["Metformin 500mg"],
                  "conditions": ["Type 2 Diabetes Mellitus"]
                },
                "answers": { "glp1_diabetes_mellitus": "No" },
                "product_ids": ["019bde3e-e71a-7225-98fe-8f28b4cbcd77"],
                "payment": {
                  "mode": "reference_captured",
                  "gateway": "stripe",
                  "merchant_account_id": "PASTE_YOUR_PRX_MERCHANT_ACCOUNT_UUID",
                  "transaction": {
                    "transaction_id": "ch_3PabcXYZ...",
                    "amount": 129.00,
                    "captured_at": "2026-08-20T14:02:00Z"
                  },
                  "card_token": {
                    "customer_id": "cus_QabcExample",
                    "payment_method_id": "pm_1PabcExample"
                  },
                  "card_metadata": { "brand": "visa", "last4": "4242", "exp_month": 12, "exp_year": 2028 }
                }
              }'
        # NOTE FOR INTEGRATORS: the `payment` block above is OPTIONAL but is what links
        # a charge you already ran on YOUR gateway to your PrescribeRx merchant account.
        # `merchant_account_id` + `card_token` together make the card rechargeable
        # on-system (future subscription rebills / refills / refunds). PREREQUISITE:
        # add that merchant account in PrescribeRx (Settings → Payments → Merchant
        # Accounts) for the SAME gateway first — without it the transaction records with
        # no merchant (audit-only) and the card is display-only. Omit the whole block if
        # payment was collected out of band (or use "mode": "prepaid").
        - lang: PHP
          label: PHP (Guzzle)
          source: |
            <?php
            require 'vendor/autoload.php';
            use GuzzleHttp\Client;

            $client = new Client(['base_uri' => 'https://demo.prescribe-rx.com']);
            $response = $client->post('/api/v1/telehealth/intake/unified', [
                'headers' => [
                    'Authorization' => 'Bearer ' . $_ENV['PRESCRIBE_RX_TOKEN'],
                    'Accept' => 'application/json',
                ],
                'json' => [
                    'encounter_type_id' => '019ce396-46a1-73ab-87d6-c40310555401',
                    'patient' => [
                        'first_name' => 'Jane',
                        'last_name' => 'Smith',
                        'email' => 'jane.smith@example.com',
                        'date_of_birth' => '1988-03-22',
                        'phone' => '770-555-9876',
                        'address' => [
                            'street' => '456 Oak Ave',
                            'city' => 'Marietta',
                            'state' => 'GA',
                            'zip' => '30060',
                        ],
                    ],
                    'vitals' => ['height_inches' => 64, 'weight_lbs' => 185],
                    'medical_history' => [
                        'allergies' => ['Penicillin'],
                        'medications' => ['Metformin 500mg'],
                        'conditions' => ['Type 2 Diabetes Mellitus'],
                    ],
                    'answers' => ['glp1_diabetes_mellitus' => 'No'],
                    'product_ids' => ['019bde3e-e71a-7225-98fe-8f28b4cbcd77'],
                ],
            ]);

            $body = json_decode($response->getBody(), true);
            echo "Encounter created: {$body['data']['encounter_id']}\n";
        - lang: JavaScript
          label: JavaScript (fetch)
          source: |
            const response = await fetch('https://demo.prescribe-rx.com/api/v1/telehealth/intake/unified', {
              method: 'POST',
              headers: {
                'Authorization': `Bearer ${process.env.PRESCRIBE_RX_TOKEN}`,
                'Content-Type': 'application/json',
                'Accept': 'application/json',
              },
              body: JSON.stringify({
                encounter_type_id: '019ce396-46a1-73ab-87d6-c40310555401',
                patient: {
                  first_name: 'Jane',
                  last_name: 'Smith',
                  email: 'jane.smith@example.com',
                  date_of_birth: '1988-03-22',
                  phone: '770-555-9876',
                  address: {
                    street: '456 Oak Ave',
                    city: 'Marietta',
                    state: 'GA',
                    zip: '30060',
                  },
                },
                vitals: { height_inches: 64, weight_lbs: 185 },
                medical_history: {
                  allergies: ['Penicillin'],
                  medications: ['Metformin 500mg'],
                  conditions: ['Type 2 Diabetes Mellitus'],
                },
                answers: { glp1_diabetes_mellitus: 'No' },
                product_ids: ['019bde3e-e71a-7225-98fe-8f28b4cbcd77'],
              }),
            });

            const body = await response.json();
            console.log(`Encounter created: ${body.data.encounter_id}`);
        - lang: Python
          label: Python (requests)
          source: |
            import os, requests

            response = requests.post(
                'https://demo.prescribe-rx.com/api/v1/telehealth/intake/unified',
                headers={
                    'Authorization': f"Bearer {os.environ['PRESCRIBE_RX_TOKEN']}",
                    'Accept': 'application/json',
                },
                json={
                    'encounter_type_id': '019ce396-46a1-73ab-87d6-c40310555401',
                    'patient': {
                        'first_name': 'Jane',
                        'last_name': 'Smith',
                        'email': 'jane.smith@example.com',
                        'date_of_birth': '1988-03-22',
                        'phone': '770-555-9876',
                        'address': {
                            'street': '456 Oak Ave',
                            'city': 'Marietta',
                            'state': 'GA',
                            'zip': '30060',
                        },
                    },
                    'vitals': {'height_inches': 64, 'weight_lbs': 185},
                    'medical_history': {
                        'allergies': ['Penicillin'],
                        'medications': ['Metformin 500mg'],
                        'conditions': ['Type 2 Diabetes Mellitus'],
                    },
                    'answers': {'glp1_diabetes_mellitus': 'No'},
                    'product_ids': ['019bde3e-e71a-7225-98fe-8f28b4cbcd77'],
                },
            )

            body = response.json()
            print(f"Encounter created: {body['data']['encounter_id']}")
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnifiedIntakeRequest'
            examples:
              01_specific_product:
                summary: Order an EXACT SKU (product_id) — provider prescribes as-sent
                description: |
                  Minimal complete payload. The order line names one concrete
                  SKU by UUID, so the provider is not choosing a concentration —
                  they review and prescribe the exact product. `quantity` is the
                  number of units purchased.
                value:
                  encounter_type_id: "019ce396-46a1-73ab-87d6-c40310555401"
                  patient:
                    first_name: Jane
                    last_name: Smith
                    email: jane.smith@example.com
                    date_of_birth: "1988-03-22"
                    phone: "770-555-9876"
                    shipping_address:
                      street: "456 Oak Ave"
                      city: Marietta
                      state: GA
                      zip: "30060"
                      country: US
                    billing_same_as_shipping: true
                  products:
                    - product_id: "019bc32e-c4d5-7230-b879-a706dc054db1"
                      quantity: 1
                  reason_for_visit: Weight management consultation
              02_generic_product_type:
                summary: Order a product TYPE (product_type_id) — provider picks the SKU
                description: |
                  The patient bought a medication TYPE (e.g. Semaglutide); the
                  provider selects the concrete concentration/SKU of that type at
                  prescribe-time. Send the type INSIDE `products[]` — a top-level
                  `product_type_id` is ignored. `quantity` = units purchased (2);
                  `term_months` = intended months of supply (3) — independent axes.
                value:
                  encounter_type_id: "019ce396-46a1-73ab-87d6-c40310555401"
                  patient:
                    first_name: Jane
                    last_name: Smith
                    email: jane.smith@example.com
                    date_of_birth: "1988-03-22"
                    phone: "770-555-9876"
                    shipping_address:
                      street: "456 Oak Ave"
                      city: Marietta
                      state: GA
                      zip: "30060"
                      country: US
                    billing_same_as_shipping: true
                  products:
                    - product_type_id: "019b9783-6a7e-73fc-92d6-2970937796db"
                      quantity: 2
                      term_months: 3
                  reason_for_visit: Weight management consultation
              03_generic_product_class:
                summary: Order a product CLASS (product_class_slug) — broadest generic
                description: |
                  One level broader than a type: the provider may pick a product
                  of ANY type within the class (e.g. any GLP-1). Use `product_class_id`
                  or `product_class_slug`. Creates a class-scoped generic line.
                value:
                  encounter_type_id: "019ce396-46a1-73ab-87d6-c40310555401"
                  patient:
                    first_name: Jane
                    last_name: Smith
                    email: jane.smith@example.com
                    date_of_birth: "1988-03-22"
                    phone: "770-555-9876"
                    shipping_address:
                      street: "456 Oak Ave"
                      city: Marietta
                      state: GA
                      zip: "30060"
                      country: US
                    billing_same_as_shipping: true
                  products:
                    - product_class_slug: "glp-1"
                      quantity: 1
                      term_months: 1
                  reason_for_visit: Weight management consultation
              04_package_with_plan:
                summary: Order a PACKAGE + plan — quantity scales the whole package
                description: |
                  A package bundles multiple lines (some may be generic). `plan_id`
                  selects the subscription term (duration comes from the plan, NOT
                  `term_months`). `quantity` here scales the ENTIRE package —
                  quantity 2 doubles every line in the package.
                value:
                  encounter_type_id: "019ce396-46a1-73ab-87d6-c40310555401"
                  patient:
                    first_name: Jane
                    last_name: Smith
                    email: jane.smith@example.com
                    date_of_birth: "1988-03-22"
                    phone: "770-555-9876"
                    shipping_address:
                      street: "456 Oak Ave"
                      city: Marietta
                      state: GA
                      zip: "30060"
                      country: US
                    billing_same_as_shipping: true
                  packages:
                    - package_id: "019c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b"
                      plan_id: "019c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4c"
                      quantity: 1
                  reason_for_visit: Weight management consultation
              05_multi_line_quantities:
                summary: Multiple lines mixing identifiers + quantities/months
                description: |
                  Several order lines in one intake: an exact SKU (qty 3), a
                  generic type for a 3-month supply, and a class-level generic.
                  Shows that quantity is per-line and honored on every shape.
                value:
                  encounter_type_id: "019ce396-46a1-73ab-87d6-c40310555401"
                  patient:
                    first_name: Jane
                    last_name: Smith
                    email: jane.smith@example.com
                    date_of_birth: "1988-03-22"
                    phone: "770-555-9876"
                    shipping_address:
                      street: "456 Oak Ave"
                      city: Marietta
                      state: GA
                      zip: "30060"
                      country: US
                    billing_same_as_shipping: true
                  products:
                    - product_id: "019bc32e-c4d5-7230-b879-a706dc054db1"
                      quantity: 3
                    - product_type_slug: "tirzepatide"
                      quantity: 1
                      term_months: 3
                    - product_class_slug: "glp-1"
                      quantity: 1
                  reason_for_visit: Weight management consultation
              06_all_fields_kitchen_sink:
                summary: EVERY supported field (full payload, all optional blocks shown)
                description: |
                  Exhaustive reference payload showing the entirety of what CAN be
                  sent, with correct types for each field. Most blocks are OPTIONAL
                  — include only what you need. Required: encounter_type (id/slug/
                  name), patient name/email/dob/phone, a shipping address, and
                  (unless is_quick_consult) at least one product/package/plan line.
                  The `payment` block shown uses mode=reference_captured (record a
                  charge you ran elsewhere); other modes are authorize /
                  reference_preauth / prepaid / patient_review.
                value:
                  encounter_type_id: "019ce396-46a1-73ab-87d6-c40310555401"
                  encounter_type_slug: null
                  encounter_type_name: null
                  client_id: "019c94dd-8292-7112-9e5b-c458125e8d33"
                  client_number: null
                  sales_org_id: "019c94db-ec31-732b-9fe7-fb97190e7e87"
                  sales_org_number: null
                  is_sandbox: false
                  external_reference: "PARTNER-REF-10023"
                  patient:
                    first_name: Jane
                    last_name: Smith
                    email: jane.smith@example.com
                    date_of_birth: "1988-03-22"
                    phone: "770-555-9876"
                    gender: female
                    race: null
                    ethnicity: null
                    preferred_language: en
                    shipping_address:
                      street: "456 Oak Ave"
                      street2: "Suite 200"
                      city: Marietta
                      state: GA
                      zip: "30060"
                      country: US
                    billing_address:
                      street: "456 Oak Ave"
                      street2: null
                      city: Marietta
                      state: GA
                      zip: "30060"
                      country: US
                    billing_same_as_shipping: false
                  vitals:
                    height_inches: 64
                    weight_lbs: 185
                    blood_pressure_systolic: 118
                    blood_pressure_diastolic: 76
                    heart_rate_bpm: 72
                  medical_history:
                    allergies: ["Penicillin"]
                    medications: ["Metformin 500mg"]
                    conditions: ["Type 2 Diabetes Mellitus"]
                  answers:
                    glp1_diabetes_mellitus: "No"
                    current_weight: 185
                    glp1_adverse_reaction_direct: "No"
                  products:
                    - product_id: "019bc32e-c4d5-7230-b879-a706dc054db1"
                      product_number: null
                      product_type_id: null
                      product_type_slug: null
                      product_class_id: null
                      product_class_slug: null
                      dose_product_id: null
                      quantity: 1
                      term_months: 3
                      snapshot_price: 199.00
                      notes: "Patient prefers pen delivery"
                  packages: []
                  product_ids: []
                  package_id: null
                  package_ids: []
                  plan_id: null
                  provider_id: null
                  reason_for_visit: Weight management consultation
                  chief_complaint: "Requesting GLP-1 therapy for weight management"
                  metadata:
                    affiliate_id: "aff_123"
                    utm_source: "partner-portal"
                  fulfillment_preferences:
                    shipping_service_code: null
                    bill_to: Patient
                    ship_to: Patient
                    per_product: []
                  identification:
                    id_number: "D1234567"
                    id_state: GA
                    id_type: drivers_license
                  documents:
                    - type: government_id_front
                      filename: "id-front.jpg"
                      mime_type: "image/jpeg"
                      file_base64: "<base64-bytes>"
                      url: null
                      notes: null
                  consents:
                    - consent_type: 6
                      consent_text: "I consent to telehealth consultation."
                      consent_version: "2.1"
                      consented_at: "2026-04-03T12:00:00Z"
                      ip_address: "192.168.1.1"
                      user_agent: "Mozilla/5.0"
                      source_domain: "partner.example.com"
                      signature_method: click
                      signature_data: null
                      checkboxes_checked: ["telehealth_consent", "privacy_policy"]
                  appointment:
                    provider_profile_id: "019c94e0-1111-2222-3333-444455556666"
                    scheduled_start: "2026-09-05T15:00:00Z"
                    patient_timezone: "America/New_York"
                  payment:
                    mode: reference_captured
                    gateway: stripe
                    merchant_account_id: null
                    amount: 199.00
                    workflow: null
                    card_token: null
                    card_metadata:
                      brand: visa
                      last4: "4242"
                      exp_month: 12
                      exp_year: 2028
                    transaction:
                      transaction_id: "ch_3Pxyz123"
                      amount: 199.00
                      captured_at: "2026-04-03T12:00:05Z"
                    billing_address:
                      street: "456 Oak Ave"
                      street2: null
                      city: Marietta
                      state: GA
                      zip: "30060"
                      country: US
                  subscription:
                    plan_id: null
                    billing_owner: external
                    external_billing_domain: "partner.example.com"
                    term_prepaid: false
                    subscription_id: null
                    checkpoint_id: null
      responses:
        '201':
          description: |
            Encounter created successfully. On replay (Idempotency-Key
            matched a prior call within 24h) the response BODY is
            identical to the original, with the extra headers
            `X-Idempotent-Replayed: true` and
            `X-Idempotent-Original-At: <ISO8601>` set.
          headers:
            X-Idempotent-Replayed:
              schema:
                type: string
                enum: ['true']
              description: |
                Present only when the response was served from the
                Idempotency-Key cache. Absent on first-time creates.
            X-Idempotent-Original-At:
              schema:
                type: string
                format: date-time
              description: |
                ISO8601 timestamp of the FIRST call that created the
                cached response. Present alongside `X-Idempotent-Replayed`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      encounter_id:
                        type: string
                        format: uuid
                      encounter_number:
                        type: string
                      patient_chart_id:
                        type: string
                        format: uuid
                      patient_number:
                        type: string
                      user_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                      status_label:
                        type: string
                      encounter_type:
                        type: string
                      encounter_type_details:
                        type: object
                        description: The encounter type's product model + modality.
                        properties:
                          id: { type: string, format: uuid }
                          name: { type: string }
                          is_quick_consult: { type: boolean }
                          interaction_type: { type: integer, nullable: true }
                          interaction_type_label: { type: string, nullable: true }
                      completeness_score:
                        type: integer
                      preclusions:
                        nullable: true
                      workflow:
                        type: object
                        properties:
                          user_created:
                            type: boolean
                          patient_chart_created:
                            type: boolean
                          encounter_created:
                            type: boolean
                          intake_stored:
                            type: boolean
                          products_linked:
                            type: boolean
                          vitals_synced:
                            type: boolean
                          allergies_synced:
                            type: boolean
                          medications_synced:
                            type: boolean
                          conditions_synced:
                            type: boolean
                          consents_recorded:
                            type: integer
                          appointment_booked:
                            type: boolean
                          preclusions_checked:
                            type: boolean
              example:
                success: true
                message: Encounter created successfully.
                data:
                  encounter_id: "019d5561-7b2b-7096-8d90-4ee49ef2ede8"
                  encounter_number: ENC-00042
                  patient_chart_id: "019d5561-7b24-7096-baa7-85485643b0a7"
                  patient_number: PAT-00021
                  status: pending_intake
                  status_label: Pending Patient Intake
                  encounter_type: Weight Management
                  encounter_type_details:
                    id: "019ce396-46a1-73ab-87d6-c40310555401"
                    name: Weight Management
                    is_quick_consult: false
                    interaction_type: 1
                    interaction_type_label: Asynchronous
                  completeness_score: 80
                  workflow:
                    user_created: true
                    patient_chart_created: true
                    encounter_created: true
                    intake_stored: true
                    consents_recorded: 1
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            Duplicate-submission conflict (Encounter Intake Safeguards). The
            payload is a resubmission (same patient + type within 20 days) that
            CHANGES an already-populated field. Merge is additive-only, so the
            change is refused. Send the correction to `PATCH /patients/{id}`,
            `PATCH /encounters/{id}`, or `PATCH /encounters/{id}/answers`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              example:
                success: false
                message: >-
                  This appears to be a duplicate submission that changes
                  existing patient data. Corrections must go through the update
                  endpoints, not a new intake POST.
                errors:
[...]
