{"openapi":"3.0.3","info":{"title":"PrescribeRx REST API","description":"REST API for the PrescribeRx telehealth and pharmacy platform.\n\n## Required Headers\n\nEvery request to `\/api\/v1\/*` MUST include these headers:\n\n```\nAccept: application\/json\nAuthorization: Bearer {token}       (all endpoints except \/auth\/login and \/auth\/password\/forgot)\nContent-Type: application\/json      (POST\/PUT\/PATCH requests with a JSON body)\n```\n\n**The `Accept: application\/json` header is mandatory.** Without it, authentication\nfailures historically returned a 302 redirect to the web login page instead of a\nJSON 401 body \u2014 masking the real error from integrators. The server now injects\nthis header via middleware on every `\/api\/*` request as a safety net, but clients\nSHOULD still send it explicitly for portability and to match the documented contract.\n\nIf you ever receive an HTML response or a 302 redirect, check that (1) your HTTP\nclient is actually sending the `Accept: application\/json` header, and (2) the full\ntoken string from `POST \/auth\/login` is in the `Authorization` header (including\nthe `{id}|` prefix Sanctum emits).\n\n## Authentication\n\nAll authenticated endpoints require a Bearer token obtained via `POST \/auth\/login`.\n\n```\nAuthorization: Bearer {token}\n```\n\nTokens are scoped with abilities based on user type. The ability list\nbelow mirrors `App\\Enums\\Api\\TokenAbility::forUserType()` exactly \u2014 that\nmethod is the authoritative source. Wildcards are NOT issued (e.g.,\n`encounter:*`); each ability is granted explicitly.\n\n| User Type           | Value | Abilities |\n|---------------------|-------|-----------|\n| Provider            | 0     | encounter:read, encounter:create, encounter:update, prescription:read, prescription:create, prescription:sign, patient:read, patient:update, provider:read, provider:update, product:read |\n| Patient             | 1     | patient:read, patient:update, patient:vitals, order:read, telehealth:read, telehealth:submit, encounter:read, prescription:read, product:read |\n| Sales Organization  | 2     | sales-org:read, sales-org:update, client:read, client:create, order:read, order:create, order:update, product:read, patient:read, patient:create, patient:update, prescription:read, telehealth:read, telehealth:submit, encounter:read, encounter:create, encounter:update, webhook:read, webhook:create, webhook:update, webhook:delete |\n| API                 | 3     | `*` (all abilities) |\n| System Admin        | 4     | `*` (all abilities) |\n| Client              | 6     | client:read, client:update, order:create, order:read, order:update, prescription:read, patient:read, patient:create, patient:update, product:read, telehealth:read, telehealth:submit, encounter:read, encounter:create, encounter:update, webhook:read, webhook:create, webhook:update, webhook:delete |\n| Super Admin         | 8     | `*` (all abilities) |\n| Client Provider     | 9     | client:read, client:update, order:create, order:read, order:update, prescription:read, prescription:create, prescription:sign, encounter:create, encounter:read, encounter:update, patient:read, patient:create, patient:update, product:read, provider:read, provider:update, telehealth:read, telehealth:submit, webhook:read, webhook:create, webhook:update, webhook:delete |\n| Client Administrator| 10    | Identical ability list to Client (tenant-scoped at policy layer) |\n\nAmbassador (5), Affiliate (7), and Telehealth Admin (11) currently\nreceive no API abilities \u2014 `forUserType()` returns `[]` for them.\n\n**Token type guard on payment.mode=authorize:** sales-org \/ client tokens\ncannot use `payment.mode=authorize` on the unified intake endpoint \u2014\nPRX is not the merchant of record for API-driven flows. Use\n`reference_captured` (record-only) or `patient_review` (deferred portal\npay) instead. Embed-form tokens (browser-served) DO support `authorize`\nbecause PRX is the merchant on the embed flow.\n\n## Response Format\n\nAll responses follow a standard envelope:\n\n```json\n{\n  \"success\": true,\n  \"data\": { ... },\n  \"message\": \"Optional message\",\n  \"meta\": {\n    \"request_id\": \"uuid\",\n    \"timestamp\": \"2026-04-03T12:00:00+00:00\"\n  }\n}\n```\n\nPaginated responses include `meta.pagination`:\n\n```json\n{\n  \"meta\": {\n    \"pagination\": {\n      \"current_page\": 1,\n      \"last_page\": 5,\n      \"per_page\": 25,\n      \"total\": 112,\n      \"from\": 1,\n      \"to\": 25\n    }\n  }\n}\n```\n\n## Rate Limiting\n\n| Scope | Limit |\n|-------|-------|\n| General | 60 requests\/minute per user |\n| Auth endpoints | 10 requests\/minute per IP |\n| Order creation | 30 requests\/minute per user |\n\nRate limit headers: `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `Retry-After` (on 429).\n\n## HTTP Status Codes\n\n| Code | Meaning |\n|------|---------|\n| 200 | Success |\n| 201 | Created |\n| 400 | Business rule error |\n| 401 | Unauthenticated |\n| 402 | Payment failed |\n| 403 | Forbidden |\n| 404 | Not found |\n| 422 | Validation error |\n| 429 | Rate limited |\n| 500 | Server error |\n","version":"1.0.0","contact":{"name":"PrescribeRx API Support","email":"api@prescribe-rx.com"},"license":{"name":"Proprietary"}},"servers":[{"url":"https:\/\/demo.prescribe-rx.com\/api\/v1","description":"Demo \/ Sandbox (safe for testing)"},{"url":"https:\/\/prescribe-rx.com\/api\/v1","description":"Production"}],"tags":[{"name":"Auth","description":"Authentication, token management, and password reset"},{"name":"Clients","description":"Client provisioning, custom pricing, orders, and the order-mirror endpoint"},{"name":"Products","description":"Product catalog (public + authenticated pricing)"},{"name":"Packages","description":"Product packages"},{"name":"Telehealth","description":"Encounter types, schemas, and intake submission"},{"name":"Encounters","description":"Encounter lifecycle management"},{"name":"Orders","description":"Order creation, tracking, and fulfillment"},{"name":"Pricing","description":"Coupon validation, cart preview, and shipping rates"},{"name":"Patients","description":"Patient chart management and sub-resources"},{"name":"PaymentMethods","description":"Card vaulting and payment method management"},{"name":"Payments","description":"Merchant-account discovery (redacted) for subscription billing"},{"name":"Transactions","description":"External transaction recording"},{"name":"Subscriptions","description":"Patient subscription management"},{"name":"LabOrders","description":"Lab order creation and tracking (tenant-scoped index + show)"},{"name":"LabCatalog","description":"Lab reference data \u2014 panels (named test bundles), tests (orderable\nlab units, often Rupa-synced), biomarkers (canonical SystemBiomarker\nconcepts that lab tests map to for analytics + flagging), and\nencounter-type lab requirements.\n"},{"name":"Scheduling","description":"Provider availability and appointment booking"},{"name":"Terminology","description":"Medical terminology typeahead search"},{"name":"Webhooks","description":"Webhook subscription management"},{"name":"ExternalTelehealth","description":"Surface for 3rd-party telehealth companies that prescribe in their\nown e-Rx system and route fulfillment through PrescribeRx. Three\nendpoints: register providers by NPI, look them up after admin\napproval, and submit fully-formed orders with the signed PDF\nattached. Sales-org tokens (multi-clinic integrators) AND client\ntokens (single-clinic direct integrators) are both supported \u2014\nthe effective sales-org id resolves from `user.sales_organization_id`\nor `user.client.sales_organization_id`. The three abilities\n(`external-telehealth:providers:write`\/`:read`\/`orders:write`) are\nNOT in any default ability set \u2014 granted manually per integrator.\nReference guide: `\/api\/docs\/external-telehealth-guide`.\n"},{"name":"Me","description":"Current user profile, password, and settings"},{"name":"PatientPortal","description":"Patient self-service portal \u2014 chart, vitals, allergies, medications, conditions, encounters, orders, dashboard"},{"name":"PatientVitals","description":"Provider-facing CRUD over patient vital readings + analytics"},{"name":"Prescriptions","description":"Prescription read, cancel, and status updates"},{"name":"Chat","description":"Public chat-agent endpoints for the drop-in JS widget on\nsales-org websites. Origin-gated + per-origin rate-limited; no\nSanctum bearer required. The chat agent recommends 1\u20133\nproducts from a sales-org's curated catalog via Bedrock\n(Claude Sonnet 4.6).\n\n**Important:** these endpoints DO NOT use the standard\n`success\/data\/meta` envelope. They return domain-shaped JSON\ndirectly because the public contract is the JS widget \u2014 adding\n~80 bytes per turn for an envelope wasn't worth the\nconsistency win. Treat the response shapes as the authoritative\ncontract.\n\nDrop-in widget reference + SDK guide: `\/api\/docs\/chat-widget-guide`.\n"},{"name":"Providers","description":"Provider profile, availability, licenses, signature, and weekly schedule \/ overrides"},{"name":"SalesOrganizations","description":"Sales-organization CRUD, hierarchy (children), and their clients \/ orders"},{"name":"BulkOrders","description":"Asynchronous bulk-order intake for external e-Rx systems \u2014 stage a\nfully-formed prescription + order, poll for status, then view\/download\nthe prescription. Distinct from `POST \/orders\/bulk` (a synchronous\ncheckout). These endpoints do NOT use the standard `success\/data\/meta`\nenvelope; the shapes are documented literally per endpoint.\n"},{"name":"Peptides","description":"Read-only Peptide \/ Ingredient Knowledge Base \u2014 a global catalog of\nactive compounds with narrative sections (overview, pharmacology,\nclinical evidence, dosing guidelines, safety profile, patient summary),\napproved dosing guidance, and clinical references.\n\n**Audience shaping** \u2014 the `audience` query param (`patient` | `clinician`,\ndefault `patient`) shapes the detail returned. `patient` returns the\noverview + patient summary; `clinician` adds the dense clinical sections\n(pharmacology, clinical evidence, dosing guidelines, safety profile,\nmechanism, evidence score). Dosing guidance is returned to both.\n\n**Clinical-safety gating** \u2014 approved drug-interactions and preclusions are\nreturned ONLY when `audience=clinician` AND the token holds the\n`peptide:clinical:read` ability. A read-only token, or a patient-audience\nrequest, receives those fields as `null` (gated, not empty).\n\n**PRX prerequisites** \u2014 the `peptide:read` ability (and, for the safety\ndata, `peptide:clinical:read`) is granted MANUALLY per integrator on the\nAPI token; neither is in any default ability set. Only `review_status`\n= `approved` supporting data is ever exposed. No PHI; global (no tenant scope).\n"}],"paths":{"\/peptides":{"get":{"tags":["Peptides"],"summary":"List peptides","description":"Searchable, paginated catalog of active compounds. `search` matches\ngeneric name \/ class (partial) and exact synonym \/ brand name.\n\nRequires the `peptide:read` token ability (manual grant).\n","operationId":"listPeptides","security":[{"bearerAuth":[]}],"parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"},"example":"semaglutide"},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":25}}],"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl \"https:\/\/demo.prescribe-rx.com\/api\/v1\/peptides?search=semaglutide\" \\\n  -H \"Authorization: Bearer $TOKEN\" \\\n  -H \"Accept: application\/json\"\n"},{"lang":"PHP","label":"PHP (Laravel HTTP)","source":"$res = Http::withToken($token)->acceptJson()\n    ->get('https:\/\/demo.prescribe-rx.com\/api\/v1\/peptides', ['search' => 'semaglutide']);\n$items = $res->json('data');\n"},{"lang":"JavaScript","label":"JavaScript (fetch)","source":"const res = await fetch('https:\/\/demo.prescribe-rx.com\/api\/v1\/peptides?search=semaglutide', {\n  headers: { Authorization: `Bearer ${token}`, Accept: 'application\/json' },\n});\nconst { data } = await res.json();\n"},{"lang":"Python","label":"Python (requests)","source":"import requests\nres = requests.get(\n    'https:\/\/demo.prescribe-rx.com\/api\/v1\/peptides',\n    headers={'Authorization': f'Bearer {token}', 'Accept': 'application\/json'},\n    params={'search': 'semaglutide'},\n)\nitems = res.json()['data']\n"}],"responses":{"200":{"description":"A page of peptides","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/PeptideListItem"}},"meta":{"type":"object"}}},"example":{"success":true,"data":[{"generic_name":"semaglutide","compound_class":"GLP-1 receptor agonist","brand_names":["Ozempic","Wegovy"],"synonyms":["semaglutide"],"evidence_tier":"A","summary":"Semaglutide is a GLP-1 receptor agonist used for type 2 diabetes and weight management\u2026","updated_at":"2026-09-11T05:12:32+00:00"}],"meta":{"current_page":1,"per_page":25,"total":106}}}}},"401":{"description":"Unauthenticated"},"403":{"description":"Token missing the peptide:read ability"}}}},"\/peptides\/{peptide}":{"get":{"tags":["Peptides"],"summary":"Get a peptide","description":"One compound by generic name (case-insensitive; falls back to an exact\nsynonym \/ brand-name match).\n\n`audience=clinician` returns the full clinical sections; `audience=patient`\n(default) returns the patient-facing subset. Approved `drug_interactions`\nand `preclusions` are included ONLY when `audience=clinician` AND the token\nholds `peptide:clinical:read` \u2014 otherwise they are `null`.\n\nRequires the `peptide:read` token ability (manual grant).\n","operationId":"getPeptide","security":[{"bearerAuth":[]}],"parameters":[{"name":"peptide","in":"path","required":true,"description":"Generic name (URL-encoded), or an exact synonym \/ brand name.","schema":{"type":"string"},"example":"semaglutide"},{"name":"audience","in":"query","required":false,"schema":{"type":"string","enum":["patient","clinician"],"default":"patient"}}],"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl \"https:\/\/demo.prescribe-rx.com\/api\/v1\/peptides\/semaglutide?audience=clinician\" \\\n  -H \"Authorization: Bearer $TOKEN\" \\\n  -H \"Accept: application\/json\"\n"},{"lang":"PHP","label":"PHP (Laravel HTTP)","source":"$res = Http::withToken($token)->acceptJson()\n    ->get('https:\/\/demo.prescribe-rx.com\/api\/v1\/peptides\/semaglutide', ['audience' => 'clinician']);\n$peptide = $res->json('data');\n"},{"lang":"JavaScript","label":"JavaScript (fetch)","source":"const res = await fetch('https:\/\/demo.prescribe-rx.com\/api\/v1\/peptides\/semaglutide?audience=clinician', {\n  headers: { Authorization: `Bearer ${token}`, Accept: 'application\/json' },\n});\nconst { data } = await res.json();\n"},{"lang":"Python","label":"Python (requests)","source":"import requests\nres = requests.get(\n    'https:\/\/demo.prescribe-rx.com\/api\/v1\/peptides\/semaglutide',\n    headers={'Authorization': f'Bearer {token}', 'Accept': 'application\/json'},\n    params={'audience': 'clinician'},\n)\npeptide = res.json()['data']\n"}],"responses":{"200":{"description":"The peptide","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"$ref":"#\/components\/schemas\/Peptide"},"meta":{"type":"object"}}}}}},"401":{"description":"Unauthenticated"},"403":{"description":"Token missing the peptide:read ability"},"404":{"description":"Peptide not found"}}}},"\/auth\/login":{"post":{"tags":["Auth"],"summary":"Login","description":"Authenticate and receive a bearer token with scoped abilities.","operationId":"login","x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X POST \"https:\/\/demo.prescribe-rx.com\/api\/v1\/auth\/login\" \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"Accept: application\/json\" \\\n  -d '{\n    \"email\": \"you@example.com\",\n    \"password\": \"your-password\",\n    \"device_name\": \"api-integration\"\n  }'\n"},{"lang":"PHP","label":"PHP (Laravel HTTP)","source":"$response = Http::acceptJson()\n    ->post('https:\/\/demo.prescribe-rx.com\/api\/v1\/auth\/login', [\n        'email' => 'you@example.com',\n        'password' => 'your-password',\n        'device_name' => 'api-integration',\n    ]);\n\n$token = $response->json('data.token');\n"},{"lang":"JavaScript","label":"JavaScript (fetch)","source":"const res = await fetch('https:\/\/demo.prescribe-rx.com\/api\/v1\/auth\/login', {\n  method: 'POST',\n  headers: { 'Content-Type': 'application\/json', Accept: 'application\/json' },\n  body: JSON.stringify({\n    email: 'you@example.com',\n    password: 'your-password',\n    device_name: 'api-integration',\n  }),\n});\nconst { data } = await res.json();\nconst token = data.token;\n"},{"lang":"Python","label":"Python (requests)","source":"import requests\n\nres = requests.post(\n    'https:\/\/demo.prescribe-rx.com\/api\/v1\/auth\/login',\n    headers={'Accept': 'application\/json'},\n    json={\n        'email': 'you@example.com',\n        'password': 'your-password',\n        'device_name': 'api-integration',\n    },\n)\ntoken = res.json()['data']['token']\n"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/LoginRequest"},"example":{"email":"api@demo-client.com","password":"your-password","device_name":"api-integration"}}}},"responses":{"200":{"description":"Successful login","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/LoginResponse"},"example":{"success":true,"data":{"user":{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","email":"api@demo-client.com","name":"API User","first_name":"API","last_name":"User","user_type":6,"user_type_label":"Client","client_id":"019c94dd-8292-7112-9e5b-c458125e8d33","sales_organization_id":"019c94db-ec31-732b-9fe7-fb97190e7e87","patient_chart_id":null,"provider_profile_id":null},"token":"1|abc123def456...","abilities":["client:read","order:create","product:read"],"expires_at":"2026-04-04T12:00:00+00:00"}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"422":{"$ref":"#\/components\/responses\/ValidationError"}}}},"\/auth\/refresh":{"post":{"tags":["Auth"],"summary":"Refresh token","description":"Exchange current token for a new one. Old token is revoked.","operationId":"refreshToken","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["device_name"],"properties":{"device_name":{"type":"string","example":"api-integration"}}}}}},"responses":{"200":{"description":"New token issued","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RefreshResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"}}}},"\/auth\/logout":{"post":{"tags":["Auth"],"summary":"Logout","description":"Revoke current access token.","operationId":"logout","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Logged out","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SuccessResponse"},"example":{"success":true,"message":"Logged out successfully."}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"}}}},"\/auth\/me":{"get":{"tags":["Auth"],"summary":"Get current user","description":"Get authenticated user profile and current token abilities.","operationId":"getMe","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"User profile","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/MeResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"}}}},"\/auth\/password\/forgot":{"post":{"tags":["Auth"],"summary":"Request password reset","description":"Send password reset email.","operationId":"forgotPassword","requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","format":"email"}}}}}},"responses":{"200":{"description":"Reset email sent","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SuccessResponse"}}}},"422":{"$ref":"#\/components\/responses\/ValidationError"}}}},"\/auth\/password\/reset":{"post":{"tags":["Auth"],"summary":"Reset password","description":"Reset password with token from email.","operationId":"resetPassword","requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["email","token","password","password_confirmation"],"properties":{"email":{"type":"string","format":"email"},"token":{"type":"string"},"password":{"type":"string","minLength":8},"password_confirmation":{"type":"string"}}}}}},"responses":{"200":{"description":"Password reset successful","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SuccessResponse"}}}},"422":{"$ref":"#\/components\/responses\/ValidationError"}}}},"\/products":{"get":{"tags":["Products"],"summary":"List products","description":"List active products. **Public** (no auth required).\nIf authenticated, pricing adjusts to client-specific rates (wholesale or custom).\n","operationId":"listProducts","x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X GET \"https:\/\/demo.prescribe-rx.com\/api\/v1\/products?per_page=10&sort=name\" \\\n  -H \"Authorization: Bearer $TOKEN\" \\\n  -H \"Accept: application\/json\"\n"},{"lang":"PHP","label":"PHP (Laravel HTTP)","source":"$products = Http::withToken($token)\n    ->acceptJson()\n    ->get('https:\/\/demo.prescribe-rx.com\/api\/v1\/products', [\n        'per_page' => 10,\n        'sort' => 'name',\n    ])\n    ->json('data');\n"},{"lang":"JavaScript","label":"JavaScript (fetch)","source":"const res = await fetch(\n  'https:\/\/demo.prescribe-rx.com\/api\/v1\/products?per_page=10&sort=name',\n  { headers: { Authorization: `Bearer ${token}`, Accept: 'application\/json' } },\n);\nconst { data } = await res.json();\n"},{"lang":"Python","label":"Python (requests)","source":"import requests\n\nres = requests.get(\n    'https:\/\/demo.prescribe-rx.com\/api\/v1\/products',\n    headers={'Authorization': f'Bearer {token}', 'Accept': 'application\/json'},\n    params={'per_page': 10, 'sort': 'name'},\n)\nproducts = res.json()['data']\n"}],"parameters":[{"name":"filter[product_class_id]","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"filter[product_type_id]","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"filter[name]","in":"query","schema":{"type":"string"},"description":"Partial match"},{"name":"filter[sku]","in":"query","schema":{"type":"string"},"description":"Partial match"},{"name":"filter[rx_required]","in":"query","schema":{"type":"boolean"}},{"name":"search","in":"query","schema":{"type":"string"},"description":"Full-text search across name, sku, description"},{"name":"sort","in":"query","schema":{"type":"string","enum":["name","-name","created_at","-created_at","retail_price","-retail_price"]}},{"name":"include","in":"query","schema":{"type":"string"},"description":"Comma-separated: productClass, productType, packages, doses"},{"$ref":"#\/components\/parameters\/PerPageParam"},{"$ref":"#\/components\/parameters\/PageParam"}],"responses":{"200":{"description":"Paginated list of products","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Product"}},"meta":{"$ref":"#\/components\/schemas\/Meta"}}},"example":{"success":true,"data":[{"id":"019bde3e-e71a-7225-98fe-8f28b4cbcd77","sku":"5AMINO-10MG","name":"5 AMINO 1MQ - 10 mg","description":"5 AMINO 1MQ capsules, 10mg strength","rx_required":true,"is_active":true,"image_url":null,"pricing":{"retail_price":10,"price":10,"price_type":"retail"}}],"meta":{"request_id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","timestamp":"2026-04-03T12:00:00+00:00","pagination":{"current_page":1,"last_page":5,"per_page":10,"total":48}}}}}}}}},"\/products\/{id}":{"get":{"tags":["Products"],"summary":"Get product detail","description":"Get a single product with optional includes. **Public.**","operationId":"getProduct","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"example":"019bde3e-e71a-7225-98fe-8f28b4cbcd77"}],"responses":{"200":{"description":"Product detail","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#\/components\/schemas\/Product"}}}}}},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/products\/{id}\/packages":{"get":{"tags":["Products"],"summary":"List product packages","description":"List packages for a specific product. **Public.**","operationId":"listProductPackages","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"example":"019bde3e-e71a-7225-98fe-8f28b4cbcd77"}],"responses":{"200":{"description":"List of packages","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Package"}}}}}}},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/products\/{id}\/doses":{"get":{"tags":["Products"],"summary":"List product doses","description":"List dose options for a product. **Public.**","operationId":"listProductDoses","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"example":"019bde3e-e71a-7225-98fe-8f28b4cbcd77"}],"responses":{"200":{"description":"List of dose options","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/DoseProduct"}}}}}}},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/catalog":{"get":{"tags":["Products"],"summary":"Comprehensive scoped catalog (products + packages + plans + items)","description":"Single endpoint that returns everything an integrator needs to render\na checkout \u2014 products + packages with nested plans + items + product,\nall scoped to the bearer token's tenant via `ApiCatalogScopeResolver`.\nMatches the shape the web embed uses internally.\n\nPricing fields are visibility-gated:\n  - patient \/ unauth \u2192 retail only\n  - sales-org \/ client \/ admin \u2192 retail + wholesale + (optional)\n    consumer \/ custom + (admin) cost\nSales-org overrides on `sales_organization_products` (when\n`*_override` flags set) win over the system default. Client tier\noverrides win for that client.\n","operationId":"getCatalog","security":[{"bearerAuth":[]}],"parameters":[{"name":"include_inactive","in":"query","description":"Admin tokens only \u2014 include is_active=false packages and plans.","schema":{"type":"boolean","default":false}}],"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X GET \"https:\/\/demo.prescribe-rx.com\/api\/v1\/catalog\" \\\n  -H \"Authorization: Bearer $TOKEN\" \\\n  -H \"Accept: application\/json\"\n"},{"lang":"PHP","label":"PHP (Laravel HTTP)","source":"$catalog = Http::withToken($token)\n    ->acceptJson()\n    ->get('https:\/\/demo.prescribe-rx.com\/api\/v1\/catalog')\n    ->json();\n\n$products = $catalog['products'];\n$packages = $catalog['packages'];\n"},{"lang":"JavaScript","label":"JavaScript (fetch)","source":"const res = await fetch('https:\/\/demo.prescribe-rx.com\/api\/v1\/catalog', {\n  headers: { Authorization: `Bearer ${token}`, Accept: 'application\/json' },\n});\nconst { products, packages, scope, meta } = await res.json();\n"},{"lang":"Python","label":"Python (requests)","source":"import requests\n\ncatalog = requests.get(\n    'https:\/\/demo.prescribe-rx.com\/api\/v1\/catalog',\n    headers={'Authorization': f'Bearer {token}', 'Accept': 'application\/json'},\n).json()\nproducts, packages = catalog['products'], catalog['packages']\n"}],"responses":{"200":{"description":"Scoped catalog","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"scope":{"type":"object","properties":{"sales_organization_id":{"type":"string","format":"uuid","nullable":true},"sales_organization_name":{"type":"string","nullable":true},"client_id":{"type":"string","format":"uuid","nullable":true},"client_name":{"type":"string","nullable":true},"admin":{"type":"boolean"}}},"products":{"type":"array","items":{"$ref":"#\/components\/schemas\/Product"}},"packages":{"type":"array","items":{"$ref":"#\/components\/schemas\/Package"}},"meta":{"type":"object","properties":{"product_count":{"type":"integer"},"package_count":{"type":"integer"},"generated_at":{"type":"string","format":"date-time"}}}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"}}}},"\/product-classes":{"get":{"tags":["Products"],"summary":"List product classes","description":"The complete, unscoped list of active product **classes** \u2014 the broadest\nlevel of the catalog taxonomy (e.g. \"GLP-1s & GIPs\"). Many embeds and\nencounter types are configured by class or type, so this lets an integrator\nmap its own front-end to PRX classes without parsing the product list.\n\n`slug` is a stable identifier (the display `name` may be edited) and is the\nvalue accepted as `products[].product_class_slug` on\n`POST \/telehealth\/intake\/unified`.\n","parameters":[{"name":"search","in":"query","schema":{"type":"string"},"description":"Case-insensitive LIKE filter on the class name."}],"responses":{"200":{"description":"Product classes.","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/ProductClass"}}}},"example":{"success":true,"data":[{"id":"019b8f02-7d68-72d7-90e8-1be7ff3b94e1","name":"GLP-1s & GIPs","short_name":"GLP-1s & GIPs","slug":"glp-1s-gips","description":null,"is_active":true}]}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"}}}},"\/product-types":{"get":{"tags":["Products"],"summary":"List product types","description":"The complete, unscoped list of active product **types** \u2014 one level below\nclass (e.g. \"Semaglutide\", \"Tirzepatide\"). Optionally filter to a class.\n\n`slug` is a stable identifier and is the value accepted as\n`products[].product_type_slug` on `POST \/telehealth\/intake\/unified`;\n`product_class_id` links the type to its class.\n","parameters":[{"name":"search","in":"query","schema":{"type":"string"},"description":"Case-insensitive LIKE filter on the type name."},{"name":"filter.product_class_id","in":"query","schema":{"type":"string","format":"uuid"},"description":"Return only types in this class."}],"responses":{"200":{"description":"Product types.","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/ProductType"}}}},"example":{"success":true,"data":[{"id":"019b9783-6a7e-73fc-92d6-2970937796db","product_class_id":"019b8f02-7d68-72d7-90e8-1be7ff3b94e1","name":"Semaglutide","short_name":"Semaglutide","slug":"injectable","description":null,"rx_required":true,"is_active":true}]}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"}}}},"\/packages":{"get":{"tags":["Packages"],"summary":"List packages (tenant-scoped, paginated, nested)","description":"Returns packages with nested plans + items + product, scoped to the\nbearer token's tenant (see `ApiCatalogScopeResolver`). Same shape as\n`\/catalog.packages` so a single call returns everything an integrator\nneeds to render a checkout. Pricing fields are visibility-gated \u2014\nsales-org\/client\/admin tokens see wholesale; patient tokens see retail\nonly.\n","operationId":"listPackages","x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X GET \"https:\/\/demo.prescribe-rx.com\/api\/v1\/packages?per_page=10\" \\\n  -H \"Authorization: Bearer $TOKEN\" \\\n  -H \"Accept: application\/json\"\n"},{"lang":"PHP","label":"PHP (Laravel HTTP)","source":"$packages = Http::withToken($token)\n    ->acceptJson()\n    ->get('https:\/\/demo.prescribe-rx.com\/api\/v1\/packages', ['per_page' => 10])\n    ->json('data');\n"},{"lang":"JavaScript","label":"JavaScript (fetch)","source":"const res = await fetch(\n  'https:\/\/demo.prescribe-rx.com\/api\/v1\/packages?per_page=10',\n  { headers: { Authorization: `Bearer ${token}`, Accept: 'application\/json' } },\n);\nconst { data: packages } = await res.json();\n"},{"lang":"Python","label":"Python (requests)","source":"import requests\n\nres = requests.get(\n    'https:\/\/demo.prescribe-rx.com\/api\/v1\/packages',\n    headers={'Authorization': f'Bearer {token}', 'Accept': 'application\/json'},\n    params={'per_page': 10},\n)\npackages = res.json()['data']\n"}],"parameters":[{"name":"filter[product_id]","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"filter[name]","in":"query","schema":{"type":"string"},"description":"Partial match"},{"name":"sort","in":"query","schema":{"type":"string","enum":["name","-name","created_at","-created_at"]}},{"$ref":"#\/components\/parameters\/PerPageParam"},{"$ref":"#\/components\/parameters\/PageParam"}],"responses":{"200":{"description":"Paginated list of packages","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Package"}},"meta":{"$ref":"#\/components\/schemas\/Meta"}}}}}}}}},"\/packages\/{id}":{"get":{"tags":["Packages"],"summary":"Get package detail","description":"Get package with product and items. **Public.**","operationId":"getPackage","parameters":[{"$ref":"#\/components\/parameters\/IdParam"}],"responses":{"200":{"description":"Package detail","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#\/components\/schemas\/Package"}}}}}},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/telehealth\/shipping-eligibility":{"post":{"tags":["Telehealth"],"summary":"Pre-intake shipping eligibility","description":"Check, before starting intake, whether the chosen products can ship to a\npatient's state (fulfillment-center state licensing). Returns per-product\neligibility + an overall flag.\n","operationId":"checkShippingEligibility","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["state","product_ids"],"properties":{"state":{"type":"string","minLength":2,"maxLength":2,"description":"Two-letter US state code, e.g. GA"},"product_ids":{"type":"array","minItems":1,"maxItems":50,"items":{"type":"string","format":"uuid"}}}},"example":{"state":"GA","product_ids":["019b9783-d3fe-730a-8278-b131e3ad6b57"]}}}},"responses":{"200":{"description":"Eligibility","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SuccessEnvelope"}}}},"422":{"$ref":"#\/components\/responses\/ValidationError"}}}},"\/telehealth\/encounter-types":{"get":{"tags":["Telehealth"],"summary":"List encounter types","description":"List all active encounter types available for intake.","operationId":"listEncounterTypes","security":[{"bearerAuth":[]}],"parameters":[{"name":"telehealth_company_id","in":"query","schema":{"type":"string","format":"uuid"},"description":"Filter by telehealth company"}],"responses":{"200":{"description":"List of encounter types","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/EncounterType"}}}},"example":{"success":true,"data":[{"id":"019ce396-46a1-73ab-87d6-c40310555401","name":"GLP-1 Screening","slug":"glp1-screening","description":"GLP-1 weight management screening","icon":"ti-stethoscope","product_class":"Weight Management","product_type":"GLP-1 Agonist","is_featured":true,"requires_labs":false,"interaction_type":1,"interaction_type_label":"Asynchronous","is_quick_consult":false}]}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"}}}},"\/telehealth\/encounter-types\/{encounterType}\/schema":{"get":{"tags":["Telehealth"],"summary":"Get encounter type schema","description":"Returns the complete field schema for an encounter type including all steps,\nfields with slugs, validation rules, and options. Use this to discover what\n`answers` keys to send in the unified intake endpoint.\n","operationId":"getEncounterTypeSchema","security":[{"bearerAuth":[]}],"parameters":[{"name":"encounterType","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"example":"019ce396-46a1-73ab-87d6-c40310555401"}],"responses":{"200":{"description":"Encounter type schema with steps and fields","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"encounter_type":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"}}},"steps":{"type":"array","items":{"type":"object","properties":{"step_name":{"type":"string"},"step_description":{"type":"string"},"step_type":{"type":"string"},"display_order":{"type":"integer"},"is_required":{"type":"boolean"},"fields":{"type":"array","items":{"type":"object","properties":{"slug":{"type":"string","description":"Use as key in the answers payload"},"label":{"type":"string"},"field_type":{"type":"string","description":"See EncounterFieldType enum"},"field_type_label":{"type":"string"},"is_required":{"type":"boolean"},"help_text":{"type":"string","nullable":true},"placeholder":{"type":"string","nullable":true},"validation":{"type":"object","nullable":true},"options":{"type":"array","nullable":true,"items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"}}}},"min":{"nullable":true},"max":{"nullable":true},"depends_on":{"type":"string","nullable":true},"has_preclusions":{"type":"boolean"},"maps_to":{"type":"string","nullable":true}}}}}}},"field_slugs":{"type":"array","items":{"type":"string"},"description":"All available field slugs for this encounter type"},"required_slugs":{"type":"array","items":{"type":"string"},"description":"Required field slugs"}}},"meta":{"type":"object","properties":{"total_steps":{"type":"integer"},"total_fields":{"type":"integer"},"usage":{"type":"string"}}}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/telehealth\/preclusions\/evaluate":{"post":{"tags":["Telehealth"],"summary":"Evaluate preclusions in real-time","description":"Stateless preclusion evaluator that mirrors the embed's live-firing\nlogic. Submit an encounter type + answer set (and optionally a\npatient chart) and get back every preclusion that would fire \u2014\nwithout creating an encounter or mutating any chart data.\n\n**Identical evaluation as the embed.** Under the hood the endpoint\ncalls the same `PreclusionCheckService` methods (`evaluateFieldPreclusions`\n+ `checkPreclusions`) that the front-end Livewire `StepRenderer`\ninvokes on every keystroke. If the embed fires a preclusion for an\ninput, this endpoint fires the same one. Guaranteed by shared logic.\n\n**Encounter type:** Provide exactly one of `encounter_type_id` or\n`encounter_type_slug`.\n\n**Answers:** Object keyed by `EncounterField.slug` (the same keys\nyou'd send to `POST \/telehealth\/intake\/unified`). Values may be\nstring \/ number \/ boolean \/ array (arrays for multiselect \/ checkbox).\nPartial answer sets are fine \u2014 only fields you supply are evaluated.\n\n**Patient chart (optional):** When `patient_chart_id` is provided,\nterminology-based preclusions also fire against the chart's\nallergies \/ medications \/ conditions. Omit for a new-patient\npre-validation use case.\n\n**Use cases:**\n  - Live front-end validation as the patient answers questions\n  - Pre-flight check before `POST \/telehealth\/intake\/unified` to\n    warn the patient about contraindications\n  - Server-side audit: verify your stored answers still wouldn't\n    fire preclusions today (e.g., after a clinical rules update)\n\n**Returns** each triggered preclusion with a `source` tag:\n  - `field_config` \u2014 per-field `preclusion_config` JSON rule (v1\/v2)\n  - `encounter_type_rule` \u2014 global preclusion attached to the\n    EncounterType \/ ProductClass \/ ProductType\n  - `terminology` \u2014 chart-based rule (only when `patient_chart_id`\n    is supplied)\n\nPlus a `summary` block with counts by severity and a `has_hard_stop`\nboolean for quick gating.\n","operationId":"evaluatePreclusions","security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X POST \"https:\/\/demo.prescribe-rx.com\/api\/v1\/telehealth\/preclusions\/evaluate\" \\\n  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"Accept: application\/json\" \\\n  -d '{\n    \"encounter_type_slug\": \"glp-1-screening\",\n    \"answers\": {\n      \"glp1_adverse_reaction_direct\": \"Yes\",\n      \"currently_taking_glp\": \"yes\",\n      \"hba1c_over_8\": [\"yes_hba1c_over_8\"]\n    }\n  }'\n"},{"lang":"PHP","label":"PHP (Guzzle)","source":"<?php\n$client = new GuzzleHttp\\Client(['base_uri' => 'https:\/\/demo.prescribe-rx.com']);\n$response = $client->post('\/api\/v1\/telehealth\/preclusions\/evaluate', [\n    'headers' => [\n        'Authorization' => 'Bearer ' . $_ENV['PRESCRIBE_RX_TOKEN'],\n        'Accept' => 'application\/json',\n    ],\n    'json' => [\n        'encounter_type_slug' => 'glp-1-screening',\n        'answers' => [\n            'glp1_adverse_reaction_direct' => 'Yes',\n            'currently_taking_glp' => 'yes',\n            'hba1c_over_8' => ['yes_hba1c_over_8'],\n        ],\n        'patient_chart_id' => $existingPatientChartId ?? null,\n    ],\n]);\n$body = json_decode($response->getBody(), true);\n$hardStop = $body['data']['summary']['has_hard_stop'] ?? false;\n"},{"lang":"JavaScript","label":"JavaScript (fetch)","source":"const response = await fetch(\n  'https:\/\/demo.prescribe-rx.com\/api\/v1\/telehealth\/preclusions\/evaluate',\n  {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${process.env.PRESCRIBE_RX_TOKEN}`,\n      'Content-Type': 'application\/json',\n      'Accept': 'application\/json',\n    },\n    body: JSON.stringify({\n      encounter_type_slug: 'glp-1-screening',\n      answers: {\n        glp1_adverse_reaction_direct: 'Yes',\n        currently_taking_glp: 'yes',\n        hba1c_over_8: ['yes_hba1c_over_8'],\n      },\n      patient_chart_id: existingPatientChartId || undefined,\n    }),\n  }\n);\nconst body = await response.json();\nconst triggered = body.data.triggered_preclusions;\nif (body.data.summary.has_hard_stop) {\n  \/\/ block submission, show provider-acknowledgment UI\n}\n"},{"lang":"Python","label":"Python (requests)","source":"import os, requests\n\nr = requests.post(\n    'https:\/\/demo.prescribe-rx.com\/api\/v1\/telehealth\/preclusions\/evaluate',\n    headers={\n        'Authorization': f\"Bearer {os.environ['PRESCRIBE_RX_TOKEN']}\",\n        'Accept': 'application\/json',\n    },\n    json={\n        'encounter_type_slug': 'glp-1-screening',\n        'answers': {\n            'glp1_adverse_reaction_direct': 'Yes',\n            'currently_taking_glp': 'yes',\n            'hba1c_over_8': ['yes_hba1c_over_8'],\n        },\n    },\n)\ndata = r.json()['data']\nprint(f\"{data['summary']['total']} preclusions fired (hard stop: {data['summary']['has_hard_stop']})\")\n"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["answers"],"description":"Provide exactly one of `encounter_type_id` or `encounter_type_slug`.\n","properties":{"encounter_type_id":{"type":"string","format":"uuid","description":"Encounter type UUID. Provide this OR `encounter_type_slug`.","example":"019ce396-46a1-73ab-87d6-c40310555401"},"encounter_type_slug":{"type":"string","description":"Encounter type slug. Provide this OR `encounter_type_id`.","example":"glp-1-screening"},"answers":{"type":"object","additionalProperties":{"description":"Answer value for the field whose slug is the key. Can be\nstring \/ number \/ boolean \/ array (arrays for multiselect\nand checkbox fields).\n","oneOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"array","items":{"type":"string"}}]},"description":"Answer set keyed by `EncounterField.slug`. Same keys you'd\nsend to `POST \/telehealth\/intake\/unified`. Partial sets ok.\n","example":{"glp1_adverse_reaction_direct":"Yes","currently_taking_glp":"yes","hba1c_over_8":["yes_hba1c_over_8"]}},"patient_chart_id":{"type":"string","format":"uuid","nullable":true,"description":"Optional patient chart UUID. When provided, terminology\npreclusions (allergies \/ medications \/ conditions on the\nchart) also evaluate. Omit for new-patient pre-validation.\n"}}}}}},"responses":{"200":{"description":"Evaluation result. May include zero triggered preclusions.","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"encounter_type":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"slug":{"type":"string"},"name":{"type":"string"}}},"answers_evaluated":{"type":"object","description":"Echo of the submitted answers."},"patient_chart_id":{"type":"string","format":"uuid","nullable":true},"triggered_preclusions":{"type":"array","items":{"type":"object","properties":{"preclusion_id":{"type":"string","nullable":true,"description":"Preclusion model UUID when the rule is bound to a persisted Preclusion row; null for inline field_config rules without a preclusion_id pointer."},"source":{"type":"string","enum":["field_config","encounter_type_rule","terminology"]},"field_slug":{"type":"string"},"field_label":{"type":"string"},"option_value":{"type":"string","nullable":true,"description":"Specific option value that triggered the rule (for radio\/checkbox\/multiselect)."},"severity":{"type":"string","enum":["absolute","relative","warning","severe","warn","hardstop","soft"],"description":"Severity flavor. New code uses `absolute|relative|warning`;\nlegacy field_config rules may emit `severe|warn|hardstop|soft`.\nTreat anything mapping to `absolute`\/`severe`\/`hardstop` as a\nhard stop and refer to `can_override`.\n"},"severity_enum":{"type":"integer","description":"Numeric severity (higher = more severe). Sortable."},"can_override":{"type":"boolean","description":"Whether the patient can proceed without provider intervention."},"requires_acknowledgment":{"type":"boolean","description":"Whether the provider must explicitly acknowledge the rule before signing."},"message":{"type":"string"},"reason":{"type":"string"},"mode":{"type":"string","enum":["manual","auto_hard_stop","flag_and_warn","notify_provider_only","suggest_alternative"]},"alternative_suggestions":{"type":"array","items":{"type":"string"},"description":"Alternative product names \/ IDs the rule suggests instead."}}}},"summary":{"type":"object","properties":{"total":{"type":"integer"},"absolute":{"type":"integer"},"relative":{"type":"integer"},"warning":{"type":"integer"},"has_hard_stop":{"type":"boolean","description":"True when any triggered preclusion has `can_override=false`."},"requires_acknowledgment_count":{"type":"integer"}}}}}}},"example":{"success":true,"data":{"encounter_type":{"id":"019ce396-46a1-73ab-87d6-c40310555401","slug":"glp-1-screening","name":"GLP-1 Screening"},"answers_evaluated":{"glp1_adverse_reaction_direct":"Yes","currently_taking_glp":"yes"},"patient_chart_id":null,"triggered_preclusions":[{"preclusion_id":null,"source":"field_config","field_slug":"glp1_adverse_reaction_direct","field_label":"Have you ever had an adverse or allergic reaction to Tirzepatide\/Semaglutide\/Liraglutide, or to any of its ingredients?","option_value":"Yes","severity":"warn","severity_enum":1,"can_override":true,"requires_acknowledgment":false,"message":"Patients with a history of adverse or allergic reactions to Tirzepatide\/Semaglutide\/Liraglutide cannot proceed.","reason":"Patients with a history of adverse or allergic reactions to Tirzepatide\/Semaglutide\/Liraglutide cannot proceed.","mode":"manual","alternative_suggestions":[]}],"summary":{"total":1,"absolute":0,"relative":0,"warning":1,"has_hard_stop":false,"requires_acknowledgment_count":0}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"404":{"description":"Encounter type not found.","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"message":{"type":"string","example":"Encounter type not found."}}}}}},"422":{"description":"Validation error. Common cases:\n  - Neither `encounter_type_id` nor `encounter_type_slug` provided\n  - Both provided simultaneously\n  - `answers` missing or not an object\n  - `patient_chart_id` does not exist\n","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"message":{"type":"string"},"errors":{"type":"object"}}}}}}}}},"\/telehealth\/intake\/unified":{"post":{"tags":["Telehealth"],"summary":"Unified intake -- create patient + encounter + answers","description":"Single-call endpoint that creates a patient (or finds existing by email+DOB),\ncreates an encounter, and submits intake answers in one request.\n\n**Required (Encounter Intake Safeguards, 2026-07-14):** `patient.first_name`,\n`patient.last_name`, `patient.email`, `patient.date_of_birth`,\n`patient.phone`, a **shipping address** (`patient.shipping_address` OR\n`patient.address`) with `street`\/`city`\/`state`\/`zip`, and \u2014 unless the\nencounter type is a quick consult (`is_quick_consult: true`) \u2014 a\nproduct\/package\/plan selection. Missing any \u2192 `422` with per-field\n`errors`. A duplicate re-POST that changes existing patient data \u2192 `409`\n(use the PATCH endpoints to correct). See the `UnifiedIntakeRequest`\nschema and the `409`\/`422` responses below.\n\n**Ordering a product TYPE (not a specific SKU):** to let the provider\nchoose the concrete concentration\/SKU at prescribe-time, send the type\ninside `products[]` as `{\"product_type_id\": \"...\"}` or\n`{\"product_type_slug\": \"...\"}` \u2014 **NOT** as a top-level field. A\ntop-level `product_type_id` is silently ignored (it is not part of this\nrequest schema), which produces an encounter with nothing to prescribe.\nA generic-type line lands an `is_generic_reference` line the provider's\nprescribing panel renders as \"type \u2192 pick dose \u2192 pick eligible SKU\",\nexactly like a package's generic item. **This selection is mandatory\neven when the encounter type pins its own product catalog** \u2014 on this\nAPI the catalog alone does NOT satisfy the requirement (only the\ninteractive embed\/wizard flows treat it as pre-selected); omit a line on\na non-quick-consult type and you get the `422` above.\n\n**Encounter type:** Specify by `encounter_type_id`, `encounter_type_slug`, or `encounter_type_name` (priority: id > slug > name).\n\n**Organization:** Use `client_id`\/`client_number` and `sales_org_id`\/`sales_org_number`. Falls back to authenticated user's org.\n\n**Answers:** Key by field slug from `GET \/telehealth\/encounter-types\/{id}\/schema`.\n\n**Scheduling (video visits):** Two booking flows. (1) Include the optional\ntop-level `appointment` object here to book inline \u2014 the time maps onto the\nencounter (sets `scheduled_at`, assigns the provider, provisions the video\nroom + join link), returned as `video_room`. (2) Omit `appointment`, then\ncreate the time separately: `GET \/scheduling\/availability\/slots` \u2192 `POST\n\/encounters\/{id}\/schedule` (which additionally supports auto-assign by\nomitting the provider). A scheduled time is always stored in UTC; a naive\n`scheduled_start` is interpreted in `patient_timezone`.\n\n**Idempotency:** Optional `Idempotency-Key` request header. When\nprovided, the response body for the first successful call is\ncached for 24h under `(tenant, key)`. Any subsequent call with\nthe SAME key + same tenant within that window returns the prior\nresponse verbatim, plus headers:\n  - `X-Idempotent-Replayed: true`\n  - `X-Idempotent-Original-At: <ISO8601>`\nNo duplicate encounter is created on replay. Without the header\nthe endpoint behaves as before (every call creates a new\nencounter). Recommended pattern: generate a UUID per logical\nintake submission and include it in your retry envelope so\ntransient errors \/ double-fires don't create duplicates.\n\n**Payment & transaction details (IMPORTANT \u2014 read before integrating):**\nThe `payment` block is **optional** and this endpoint will **never reject\nan intake for lacking payment detail** \u2014 an encounter is always created\nso your clinical workflow is never blocked. However, what you send (or\nomit) has real downstream consequences:\n\n- **Pass the transaction detail whenever you have it.** Use\n  `mode=authorize` (we charge), or \u2014 if you ran the charge on your own\n  gateway \u2014 `mode=reference_preauth` \/ `mode=reference_captured` with the\n  gateway transaction id **and the `amount`**. The amount drives accurate\n  **P&L \/ revenue reporting**, lets the charge be attributed to your sales\n  org's merchant + this customer, and enables billing of any future\n  subscription \/ refill \/ deferred capture on that same merchant\n  relationship. Omitting transaction detail is like omitting the\n  package\/plan \u2014 the provider and the system then have no record of what\n  the patient requested or paid.\n- **Collected payment in person \/ out of band (no electronic record)?**\n  Omit `payment`, or use `mode=prepaid` (records the bypass + reason). The\n  intake is accepted and flagged external; reconciliation is on your side.\n- **FAILSAFE \u2014 future billing requires a vaulted card.** When an intake\n  arrives with no chargeable method on file, **no future auto-billing**\n  (subscription rebill, refill charge, deferred capture) will proceed for\n  that patient until they vault a card (on your merchant, or a system\n  merchant if your org has none). The patient is prompted to add a card \u2014\n  we never silently charge and never silently fail. Plan your flow so the\n  patient vaults a method before any recurring billing is expected.\n","operationId":"unifiedIntake","security":[{"bearerAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string","maxLength":255},"description":"Opaque client-generated string (UUID recommended). Same key\nwithin 24h on the same tenant returns the original response\nverbatim with `X-Idempotent-Replayed: true`. Without this\nheader every call creates a new encounter.\n","example":"5f3d8a2c-9b1e-4f7a-8c3d-1e2b3c4d5e6f"}],"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X POST \"https:\/\/demo.prescribe-rx.com\/api\/v1\/telehealth\/intake\/unified\" \\\n  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"Accept: application\/json\" \\\n  -d '{\n    \"encounter_type_id\": \"019ce396-46a1-73ab-87d6-c40310555401\",\n    \"patient\": {\n      \"first_name\": \"Jane\",\n      \"last_name\": \"Smith\",\n      \"email\": \"jane.smith@example.com\",\n      \"date_of_birth\": \"1988-03-22\",\n      \"phone\": \"770-555-9876\",\n      \"gender\": \"female\",\n      \"address\": {\n        \"street\": \"456 Oak Ave\",\n        \"city\": \"Marietta\",\n        \"state\": \"GA\",\n        \"zip\": \"30060\"\n      }\n    },\n    \"vitals\": { \"height_inches\": 64, \"weight_lbs\": 185 },\n    \"medical_history\": {\n      \"allergies\": [\"Penicillin\"],\n      \"medications\": [\"Metformin 500mg\"],\n      \"conditions\": [\"Type 2 Diabetes Mellitus\"]\n    },\n    \"answers\": { \"glp1_diabetes_mellitus\": \"No\" },\n    \"product_ids\": [\"019bde3e-e71a-7225-98fe-8f28b4cbcd77\"],\n    \"payment\": {\n      \"mode\": \"reference_captured\",\n      \"gateway\": \"stripe\",\n      \"merchant_account_id\": \"PASTE_YOUR_PRX_MERCHANT_ACCOUNT_UUID\",\n      \"transaction\": {\n        \"transaction_id\": \"ch_3PabcXYZ...\",\n        \"amount\": 129.00,\n        \"captured_at\": \"2026-08-20T14:02:00Z\"\n      },\n      \"card_token\": {\n        \"customer_id\": \"cus_QabcExample\",\n        \"payment_method_id\": \"pm_1PabcExample\"\n      },\n      \"card_metadata\": { \"brand\": \"visa\", \"last4\": \"4242\", \"exp_month\": 12, \"exp_year\": 2028 }\n    }\n  }'\n"},{"lang":"PHP","label":"PHP (Guzzle)","source":"<?php\nrequire 'vendor\/autoload.php';\nuse GuzzleHttp\\Client;\n\n$client = new Client(['base_uri' => 'https:\/\/demo.prescribe-rx.com']);\n$response = $client->post('\/api\/v1\/telehealth\/intake\/unified', [\n    'headers' => [\n        'Authorization' => 'Bearer ' . $_ENV['PRESCRIBE_RX_TOKEN'],\n        'Accept' => 'application\/json',\n    ],\n    'json' => [\n        'encounter_type_id' => '019ce396-46a1-73ab-87d6-c40310555401',\n        'patient' => [\n            'first_name' => 'Jane',\n            'last_name' => 'Smith',\n            'email' => 'jane.smith@example.com',\n            'date_of_birth' => '1988-03-22',\n            'phone' => '770-555-9876',\n            'address' => [\n                'street' => '456 Oak Ave',\n                'city' => 'Marietta',\n                'state' => 'GA',\n                'zip' => '30060',\n            ],\n        ],\n        'vitals' => ['height_inches' => 64, 'weight_lbs' => 185],\n        'medical_history' => [\n            'allergies' => ['Penicillin'],\n            'medications' => ['Metformin 500mg'],\n            'conditions' => ['Type 2 Diabetes Mellitus'],\n        ],\n        'answers' => ['glp1_diabetes_mellitus' => 'No'],\n        'product_ids' => ['019bde3e-e71a-7225-98fe-8f28b4cbcd77'],\n    ],\n]);\n\n$body = json_decode($response->getBody(), true);\necho \"Encounter created: {$body['data']['encounter_id']}\\n\";\n"},{"lang":"JavaScript","label":"JavaScript (fetch)","source":"const response = await fetch('https:\/\/demo.prescribe-rx.com\/api\/v1\/telehealth\/intake\/unified', {\n  method: 'POST',\n  headers: {\n    'Authorization': `Bearer ${process.env.PRESCRIBE_RX_TOKEN}`,\n    'Content-Type': 'application\/json',\n    'Accept': 'application\/json',\n  },\n  body: JSON.stringify({\n    encounter_type_id: '019ce396-46a1-73ab-87d6-c40310555401',\n    patient: {\n      first_name: 'Jane',\n      last_name: 'Smith',\n      email: 'jane.smith@example.com',\n      date_of_birth: '1988-03-22',\n      phone: '770-555-9876',\n      address: {\n        street: '456 Oak Ave',\n        city: 'Marietta',\n        state: 'GA',\n        zip: '30060',\n      },\n    },\n    vitals: { height_inches: 64, weight_lbs: 185 },\n    medical_history: {\n      allergies: ['Penicillin'],\n      medications: ['Metformin 500mg'],\n      conditions: ['Type 2 Diabetes Mellitus'],\n    },\n    answers: { glp1_diabetes_mellitus: 'No' },\n    product_ids: ['019bde3e-e71a-7225-98fe-8f28b4cbcd77'],\n  }),\n});\n\nconst body = await response.json();\nconsole.log(`Encounter created: ${body.data.encounter_id}`);\n"},{"lang":"Python","label":"Python (requests)","source":"import os, requests\n\nresponse = requests.post(\n    'https:\/\/demo.prescribe-rx.com\/api\/v1\/telehealth\/intake\/unified',\n    headers={\n        'Authorization': f\"Bearer {os.environ['PRESCRIBE_RX_TOKEN']}\",\n        'Accept': 'application\/json',\n    },\n    json={\n        'encounter_type_id': '019ce396-46a1-73ab-87d6-c40310555401',\n        'patient': {\n            'first_name': 'Jane',\n            'last_name': 'Smith',\n            'email': 'jane.smith@example.com',\n            'date_of_birth': '1988-03-22',\n            'phone': '770-555-9876',\n            'address': {\n                'street': '456 Oak Ave',\n                'city': 'Marietta',\n                'state': 'GA',\n                'zip': '30060',\n            },\n        },\n        'vitals': {'height_inches': 64, 'weight_lbs': 185},\n        'medical_history': {\n            'allergies': ['Penicillin'],\n            'medications': ['Metformin 500mg'],\n            'conditions': ['Type 2 Diabetes Mellitus'],\n        },\n        'answers': {'glp1_diabetes_mellitus': 'No'},\n        'product_ids': ['019bde3e-e71a-7225-98fe-8f28b4cbcd77'],\n    },\n)\n\nbody = response.json()\nprint(f\"Encounter created: {body['data']['encounter_id']}\")\n"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/UnifiedIntakeRequest"},"examples":{"01_specific_product":{"summary":"Order an EXACT SKU (product_id) \u2014 provider prescribes as-sent","description":"Minimal complete payload. The order line names one concrete\nSKU by UUID, so the provider is not choosing a concentration \u2014\nthey review and prescribe the exact product. `quantity` is the\nnumber of units purchased.\n","value":{"encounter_type_id":"019ce396-46a1-73ab-87d6-c40310555401","patient":{"first_name":"Jane","last_name":"Smith","email":"jane.smith@example.com","date_of_birth":"1988-03-22","phone":"770-555-9876","shipping_address":{"street":"456 Oak Ave","city":"Marietta","state":"GA","zip":"30060","country":"US"},"billing_same_as_shipping":true},"products":[{"product_id":"019bc32e-c4d5-7230-b879-a706dc054db1","quantity":1}],"reason_for_visit":"Weight management consultation"}},"02_generic_product_type":{"summary":"Order a product TYPE (product_type_id) \u2014 provider picks the SKU","description":"The patient bought a medication TYPE (e.g. Semaglutide); the\nprovider selects the concrete concentration\/SKU of that type at\nprescribe-time. Send the type INSIDE `products[]` \u2014 a top-level\n`product_type_id` is ignored. `quantity` = units purchased (2);\n`term_months` = intended months of supply (3) \u2014 independent axes.\n","value":{"encounter_type_id":"019ce396-46a1-73ab-87d6-c40310555401","patient":{"first_name":"Jane","last_name":"Smith","email":"jane.smith@example.com","date_of_birth":"1988-03-22","phone":"770-555-9876","shipping_address":{"street":"456 Oak Ave","city":"Marietta","state":"GA","zip":"30060","country":"US"},"billing_same_as_shipping":true},"products":[{"product_type_id":"019b9783-6a7e-73fc-92d6-2970937796db","quantity":2,"term_months":3}],"reason_for_visit":"Weight management consultation"}},"03_generic_product_class":{"summary":"Order a product CLASS (product_class_slug) \u2014 broadest generic","description":"One level broader than a type: the provider may pick a product\nof ANY type within the class (e.g. any GLP-1). Use `product_class_id`\nor `product_class_slug`. Creates a class-scoped generic line.\n","value":{"encounter_type_id":"019ce396-46a1-73ab-87d6-c40310555401","patient":{"first_name":"Jane","last_name":"Smith","email":"jane.smith@example.com","date_of_birth":"1988-03-22","phone":"770-555-9876","shipping_address":{"street":"456 Oak Ave","city":"Marietta","state":"GA","zip":"30060","country":"US"},"billing_same_as_shipping":true},"products":[{"product_class_slug":"glp-1","quantity":1,"term_months":1}],"reason_for_visit":"Weight management consultation"}},"04_package_with_plan":{"summary":"Order a PACKAGE + plan \u2014 quantity scales the whole package","description":"A package bundles multiple lines (some may be generic). `plan_id`\nselects the subscription term (duration comes from the plan, NOT\n`term_months`). `quantity` here scales the ENTIRE package \u2014\nquantity 2 doubles every line in the package.\n","value":{"encounter_type_id":"019ce396-46a1-73ab-87d6-c40310555401","patient":{"first_name":"Jane","last_name":"Smith","email":"jane.smith@example.com","date_of_birth":"1988-03-22","phone":"770-555-9876","shipping_address":{"street":"456 Oak Ave","city":"Marietta","state":"GA","zip":"30060","country":"US"},"billing_same_as_shipping":true},"packages":[{"package_id":"019c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b","plan_id":"019c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4c","quantity":1}],"reason_for_visit":"Weight management consultation"}},"05_multi_line_quantities":{"summary":"Multiple lines mixing identifiers + quantities\/months","description":"Several order lines in one intake: an exact SKU (qty 3), a\ngeneric type for a 3-month supply, and a class-level generic.\nShows that quantity is per-line and honored on every shape.\n","value":{"encounter_type_id":"019ce396-46a1-73ab-87d6-c40310555401","patient":{"first_name":"Jane","last_name":"Smith","email":"jane.smith@example.com","date_of_birth":"1988-03-22","phone":"770-555-9876","shipping_address":{"street":"456 Oak Ave","city":"Marietta","state":"GA","zip":"30060","country":"US"},"billing_same_as_shipping":true},"products":[{"product_id":"019bc32e-c4d5-7230-b879-a706dc054db1","quantity":3},{"product_type_slug":"tirzepatide","quantity":1,"term_months":3},{"product_class_slug":"glp-1","quantity":1}],"reason_for_visit":"Weight management consultation"}},"06_all_fields_kitchen_sink":{"summary":"EVERY supported field (full payload, all optional blocks shown)","description":"Exhaustive reference payload showing the entirety of what CAN be\nsent, with correct types for each field. Most blocks are OPTIONAL\n\u2014 include only what you need. Required: encounter_type (id\/slug\/\nname), patient name\/email\/dob\/phone, a shipping address, and\n(unless is_quick_consult) at least one product\/package\/plan line.\nThe `payment` block shown uses mode=reference_captured (record a\ncharge you ran elsewhere); other modes are authorize \/\nreference_preauth \/ prepaid \/ patient_review.\n","value":{"encounter_type_id":"019ce396-46a1-73ab-87d6-c40310555401","encounter_type_slug":null,"encounter_type_name":null,"client_id":"019c94dd-8292-7112-9e5b-c458125e8d33","client_number":null,"sales_org_id":"019c94db-ec31-732b-9fe7-fb97190e7e87","sales_org_number":null,"is_sandbox":false,"external_reference":"PARTNER-REF-10023","patient":{"first_name":"Jane","last_name":"Smith","email":"jane.smith@example.com","date_of_birth":"1988-03-22","phone":"770-555-9876","gender":"female","race":null,"ethnicity":null,"preferred_language":"en","shipping_address":{"street":"456 Oak Ave","street2":"Suite 200","city":"Marietta","state":"GA","zip":"30060","country":"US"},"billing_address":{"street":"456 Oak Ave","street2":null,"city":"Marietta","state":"GA","zip":"30060","country":"US"},"billing_same_as_shipping":false},"vitals":{"height_inches":64,"weight_lbs":185,"blood_pressure_systolic":118,"blood_pressure_diastolic":76,"heart_rate_bpm":72},"medical_history":{"allergies":["Penicillin"],"medications":["Metformin 500mg"],"conditions":["Type 2 Diabetes Mellitus"]},"answers":{"glp1_diabetes_mellitus":"No","current_weight":185,"glp1_adverse_reaction_direct":"No"},"products":[{"product_id":"019bc32e-c4d5-7230-b879-a706dc054db1","product_number":null,"product_type_id":null,"product_type_slug":null,"product_class_id":null,"product_class_slug":null,"dose_product_id":null,"quantity":1,"term_months":3,"snapshot_price":199,"notes":"Patient prefers pen delivery"}],"packages":[],"product_ids":[],"package_id":null,"package_ids":[],"plan_id":null,"provider_id":null,"reason_for_visit":"Weight management consultation","chief_complaint":"Requesting GLP-1 therapy for weight management","metadata":{"affiliate_id":"aff_123","utm_source":"partner-portal"},"fulfillment_preferences":{"shipping_service_code":null,"bill_to":"Patient","ship_to":"Patient","per_product":[]},"identification":{"id_number":"D1234567","id_state":"GA","id_type":"drivers_license"},"documents":[{"type":"government_id_front","filename":"id-front.jpg","mime_type":"image\/jpeg","file_base64":"<base64-bytes>","url":null,"notes":null}],"consents":[{"consent_type":6,"consent_text":"I consent to telehealth consultation.","consent_version":"2.1","consented_at":"2026-04-03T12:00:00Z","ip_address":"192.168.1.1","user_agent":"Mozilla\/5.0","source_domain":"partner.example.com","signature_method":"click","signature_data":null,"checkboxes_checked":["telehealth_consent","privacy_policy"]}],"appointment":{"provider_profile_id":"019c94e0-1111-2222-3333-444455556666","scheduled_start":"2026-09-05T15:00:00Z","patient_timezone":"America\/New_York"},"payment":{"mode":"reference_captured","gateway":"stripe","merchant_account_id":null,"amount":199,"workflow":null,"card_token":null,"card_metadata":{"brand":"visa","last4":"4242","exp_month":12,"exp_year":2028},"transaction":{"transaction_id":"ch_3Pxyz123","amount":199,"captured_at":"2026-04-03T12:00:05Z"},"billing_address":{"street":"456 Oak Ave","street2":null,"city":"Marietta","state":"GA","zip":"30060","country":"US"}},"subscription":{"plan_id":null,"billing_owner":"external","external_billing_domain":"partner.example.com","term_prepaid":false,"subscription_id":null,"checkpoint_id":null}}}}}}},"responses":{"201":{"description":"Encounter created successfully. On replay (Idempotency-Key\nmatched a prior call within 24h) the response BODY is\nidentical to the original, with the extra headers\n`X-Idempotent-Replayed: true` and\n`X-Idempotent-Original-At: <ISO8601>` set.\n","headers":{"X-Idempotent-Replayed":{"schema":{"type":"string","enum":["true"]},"description":"Present only when the response was served from the\nIdempotency-Key cache. Absent on first-time creates.\n"},"X-Idempotent-Original-At":{"schema":{"type":"string","format":"date-time"},"description":"ISO8601 timestamp of the FIRST call that created the\ncached response. Present alongside `X-Idempotent-Replayed`.\n"}},"content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"encounter_id":{"type":"string","format":"uuid"},"encounter_number":{"type":"string"},"patient_chart_id":{"type":"string","format":"uuid"},"patient_number":{"type":"string"},"user_id":{"type":"string","format":"uuid"},"status":{"type":"string"},"status_label":{"type":"string"},"encounter_type":{"type":"string"},"encounter_type_details":{"type":"object","description":"The encounter type's product model + modality.","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"is_quick_consult":{"type":"boolean"},"interaction_type":{"type":"integer","nullable":true},"interaction_type_label":{"type":"string","nullable":true}}},"completeness_score":{"type":"integer"},"preclusions":{"nullable":true},"workflow":{"type":"object","properties":{"user_created":{"type":"boolean"},"patient_chart_created":{"type":"boolean"},"encounter_created":{"type":"boolean"},"intake_stored":{"type":"boolean"},"products_linked":{"type":"boolean"},"vitals_synced":{"type":"boolean"},"allergies_synced":{"type":"boolean"},"medications_synced":{"type":"boolean"},"conditions_synced":{"type":"boolean"},"consents_recorded":{"type":"integer"},"appointment_booked":{"type":"boolean"},"preclusions_checked":{"type":"boolean"}}}}}}},"example":{"success":true,"message":"Encounter created successfully.","data":{"encounter_id":"019d5561-7b2b-7096-8d90-4ee49ef2ede8","encounter_number":"ENC-00042","patient_chart_id":"019d5561-7b24-7096-baa7-85485643b0a7","patient_number":"PAT-00021","status":"pending_intake","status_label":"Pending Patient Intake","encounter_type":"Weight Management","encounter_type_details":{"id":"019ce396-46a1-73ab-87d6-c40310555401","name":"Weight Management","is_quick_consult":false,"interaction_type":1,"interaction_type_label":"Asynchronous"},"completeness_score":80,"workflow":{"user_created":true,"patient_chart_created":true,"encounter_created":true,"intake_stored":true,"consents_recorded":1}}}}}},"404":{"$ref":"#\/components\/responses\/NotFound"},"409":{"description":"Duplicate-submission conflict (Encounter Intake Safeguards). The\npayload is a resubmission (same patient + type within 20 days) that\nCHANGES an already-populated field. Merge is additive-only, so the\nchange is refused. Send the correction to `PATCH \/patients\/{id}`,\n`PATCH \/encounters\/{id}`, or `PATCH \/encounters\/{id}\/answers`.\n","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ValidationErrorResponse"},"example":{"success":false,"message":"This appears to be a duplicate submission that changes existing patient data. Corrections must go through the update endpoints, not a new intake POST.","errors":{"phone":["This resubmission changes the patient phone on file. Use PATCH \/api\/v1\/patients\/{id} to correct it."]}}}}},"422":{"description":"Validation failed. In addition to standard field validation, the\nintake gate enforces (Encounter Intake Safeguards):\n  - `patient.phone` required\n  - a shipping address (`patient.shipping_address` or\n    `patient.address`) with `street`, `city`, `state`, `zip`\n  - a product\/package\/plan selection UNLESS the encounter type is a\n    quick consult (`is_quick_consult: true`)\n","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ValidationErrorResponse"},"example":{"success":false,"message":"Intake is missing required patient information.","errors":{"phone":["The phone field is required."],"shipping_address.state":["The shipping address state is required."],"products":["Select at least one product, package, or plan. (Only quick-consult encounter types may be submitted without one.)"]}}}}}}}},"\/telehealth\/products":{"get":{"tags":["Telehealth"],"summary":"List telehealth products","description":"List products available for telehealth encounters.","operationId":"listTelehealthProducts","security":[{"bearerAuth":[]}],"parameters":[{"name":"encounter_type_id","in":"query","schema":{"type":"string","format":"uuid"},"example":"019ce396-46a1-73ab-87d6-c40310555401"}],"responses":{"200":{"description":"List of products","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Product"}}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"}}}},"\/telehealth\/encounters\/{encounterId}\/status":{"get":{"tags":["Telehealth"],"summary":"Get encounter status with order tracking","description":"Get encounter status along with linked order and shipping info.","operationId":"getTelehealthEncounterStatus","security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X GET \"https:\/\/demo.prescribe-rx.com\/api\/v1\/telehealth\/encounters\/$ENCOUNTER_ID\/status\" \\\n  -H \"Authorization: Bearer $TOKEN\" \\\n  -H \"Accept: application\/json\"\n"},{"lang":"PHP","label":"PHP (poll loop)","source":"$terminal = ['prescribed', 'completed', 'cancelled', 'rejected'];\n\ndo {\n    sleep(30);\n    $status = Http::withToken($token)\n        ->acceptJson()\n        ->get(\"https:\/\/demo.prescribe-rx.com\/api\/v1\/telehealth\/encounters\/{$encounterId}\/status\")\n        ->json('data.status');\n} while (! in_array($status, $terminal, true));\n"},{"lang":"JavaScript","label":"JavaScript (poll loop)","source":"const terminal = ['prescribed', 'completed', 'cancelled', 'rejected'];\nlet status;\ndo {\n  await new Promise(r => setTimeout(r, 30_000));\n  const res = await fetch(\n    `https:\/\/demo.prescribe-rx.com\/api\/v1\/telehealth\/encounters\/${encounterId}\/status`,\n    { headers: { Authorization: `Bearer ${token}`, Accept: 'application\/json' } },\n  );\n  status = (await res.json()).data.status;\n} while (!terminal.includes(status));\n"},{"lang":"Python","label":"Python (poll loop)","source":"import time, requests\n\nterminal = {'prescribed', 'completed', 'cancelled', 'rejected'}\nurl = f'https:\/\/demo.prescribe-rx.com\/api\/v1\/telehealth\/encounters\/{encounter_id}\/status'\n\nwhile True:\n    time.sleep(30)\n    status = requests.get(url, headers={'Authorization': f'Bearer {token}'}).json()['data']['status']\n    if status in terminal:\n        break\n"}],"parameters":[{"name":"encounterId","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"example":"019d5561-7b2b-7096-8d90-4ee49ef2ede8"}],"responses":{"200":{"description":"Encounter status with optional order tracking","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"encounter_id":{"type":"string","format":"uuid"},"encounter_number":{"type":"string"},"status":{"type":"string"},"status_history":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}}}},"order":{"type":"object","nullable":true,"properties":{"order_id":{"type":"string","format":"uuid"},"order_number":{"type":"string"},"payment_status":{"type":"string"},"shipping_status":{"type":"string"},"tracking_number":{"type":"string","nullable":true}}}}}}},"example":{"data":{"encounter_id":"019d5561-7b2b-7096-8d90-4ee49ef2ede8","encounter_number":"ENC-00042","status":"prescribed","status_history":[{"status":"prescribed","timestamp":"2026-04-03T12:00:00+00:00"}],"order":{"order_id":"f6a7b8c9-d0e1-2345-f012-678901234567","order_number":"ORD-00123","payment_status":"captured","shipping_status":"shipped","tracking_number":"1Z999AA10123456784"}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/encounters":{"get":{"tags":["Encounters"],"summary":"List encounters (tenant-scoped)","description":"List encounters scoped by token tenant: sales-org \u2192 org +\ndescendants, client \u2192 own client_id, patient \u2192 own chart, provider\nrole \u2192 assigned only, admin\/API \u2192 unscoped. See `EncounterController@index`.\n","operationId":"listEncounters","security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X GET \"https:\/\/demo.prescribe-rx.com\/api\/v1\/encounters?per_page=10&sort=-created_at\" \\\n  -H \"Authorization: Bearer $TOKEN\" \\\n  -H \"Accept: application\/json\"\n"},{"lang":"PHP","label":"PHP (Laravel HTTP)","source":"$encounters = Http::withToken($token)\n    ->acceptJson()\n    ->get('https:\/\/demo.prescribe-rx.com\/api\/v1\/encounters', [\n        'per_page' => 10,\n        'sort' => '-created_at',\n    ])\n    ->json('data');\n"},{"lang":"JavaScript","label":"JavaScript (fetch)","source":"const res = await fetch(\n  'https:\/\/demo.prescribe-rx.com\/api\/v1\/encounters?per_page=10&sort=-created_at',\n  { headers: { Authorization: `Bearer ${token}`, Accept: 'application\/json' } },\n);\nconst { data } = await res.json();\n"},{"lang":"Python","label":"Python (requests)","source":"import requests\n\nres = requests.get(\n    'https:\/\/demo.prescribe-rx.com\/api\/v1\/encounters',\n    headers={'Authorization': f'Bearer {token}', 'Accept': 'application\/json'},\n    params={'per_page': 10, 'sort': '-created_at'},\n)\nencounters = res.json()['data']\n"}],"parameters":[{"name":"filter[status]"},{"name":"filter[status]","in":"query","schema":{"type":"string"},"description":"Encounter status string value"},{"name":"filter[priority]","in":"query","schema":{"type":"integer","minimum":1,"maximum":5}},{"name":"filter[encounter_type_id]","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"filter[patient_id]","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"filter[provider_profile_id]","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"include","in":"query","schema":{"type":"string"},"description":"Comma-separated: patient, providerProfile, encounterType, prescriptions, soapNotes, interactions, assignments"},{"name":"sort","in":"query","schema":{"type":"string","enum":["created_at","-created_at","priority","status"]}},{"$ref":"#\/components\/parameters\/PerPageParam"},{"$ref":"#\/components\/parameters\/PageParam"}],"responses":{"200":{"description":"Paginated list of encounters","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Encounter"}},"meta":{"$ref":"#\/components\/schemas\/Meta"}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"}}},"post":{"tags":["Encounters"],"summary":"Create encounter","description":"Create a new encounter for an existing patient.","operationId":"createEncounter","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CreateEncounterRequest"},"example":{"patient_chart_id":"019d5561-7b24-7096-baa7-85485643b0a7","encounter_type_id":"019ce396-46a1-73ab-87d6-c40310555401","reason_for_visit":"Follow-up weight management consultation","priority":3}}}},"responses":{"201":{"description":"Encounter created","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#\/components\/schemas\/Encounter"}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"422":{"$ref":"#\/components\/responses\/ValidationError"}}}},"\/encounters\/{id}":{"get":{"tags":["Encounters"],"summary":"Get encounter detail","description":"Get full encounter detail with optional includes.","operationId":"getEncounter","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"example":"019d5561-7b2b-7096-8d90-4ee49ef2ede8"},{"name":"include","in":"query","schema":{"type":"string"},"description":"Comma-separated: patient, providerProfile, encounterType, prescriptions"}],"responses":{"200":{"description":"Encounter detail","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#\/components\/schemas\/Encounter"}}},"example":{"success":true,"data":{"id":"019d5561-7b2b-7096-8d90-4ee49ef2ede8","encounter_number":"ENC-00042","status":"pending_provider_review","status_label":"Pending Provider Review","priority":3,"priority_label":"Normal","encounter_type_id":"019ce396-46a1-73ab-87d6-c40310555401","patient_chart_id":"019d5561-7b24-7096-baa7-85485643b0a7","reason_for_visit":"Weight management consultation","interaction_type":4,"created_at":"2026-04-03T10:30:00+00:00","patient":{"id":"019d5561-7b24-7096-baa7-85485643b0a7","name":"Jane Smith","email":"jane.smith@example.com","phone":"770-555-9876"},"encounter_type":{"id":"019ce396-46a1-73ab-87d6-c40310555401","name":"GLP-1 Screening","description":"GLP-1 weight management screening","duration_minutes":15}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"404":{"$ref":"#\/components\/responses\/NotFound"}}},"put":{"tags":["Encounters"],"summary":"Update non-clinical encounter fields (alias of PATCH)","description":"Identical handler to `PATCH \/encounters\/{id}` (the route accepts both PUT and PATCH). See the PATCH operation for the editable fields and rules.\n","operationId":"updateEncounterPut","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"reason_for_visit":{"type":"string","maxLength":500},"chief_complaint":{"type":"string","nullable":true,"maxLength":1000},"symptoms":{"type":"array","items":{"type":"string","maxLength":255}},"priority":{"type":"integer","minimum":1,"maximum":5},"scheduled_at":{"type":"string","format":"date-time","nullable":true},"metadata":{"type":"object","nullable":true}}}}}},"responses":{"200":{"description":"Encounter updated","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SuccessEnvelope"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"422":{"$ref":"#\/components\/responses\/ValidationError"}}},"patch":{"tags":["Encounters"],"summary":"Update non-clinical encounter fields","description":"Correct an already-submitted encounter instead of re-POSTing the intake\n(which would duplicate \/ conflict \u2014 Encounter Intake Safeguards D).\nEditable: `reason_for_visit`, `chief_complaint`, `symptoms`, `priority`,\n`scheduled_at`, `metadata` (shallow-merged, not replaced). Does NOT touch\nclinical `status` (use `PUT \/encounters\/{id}\/status`) or intake `answers`\n(use `PATCH \/encounters\/{id}\/answers`). Also accepts `PUT`.\n","operationId":"updateEncounter","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"reason_for_visit":{"type":"string","maxLength":500},"chief_complaint":{"type":"string","nullable":true,"maxLength":1000},"symptoms":{"type":"array","items":{"type":"string","maxLength":255}},"priority":{"type":"integer","minimum":1,"maximum":5},"scheduled_at":{"type":"string","format":"date-time","nullable":true},"metadata":{"type":"object","nullable":true}}},"example":{"reason_for_visit":"Updated \u2014 weight management + sleep","priority":2}}}},"responses":{"200":{"description":"Encounter updated","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#\/components\/schemas\/Encounter"}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"422":{"$ref":"#\/components\/responses\/ValidationError"}}}},"\/encounters\/{id}\/status":{"put":{"tags":["Encounters"],"summary":"Update encounter status","description":"Transition encounter status. Validated by the state machine.","operationId":"updateEncounterStatus","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"example":"019d5561-7b2b-7096-8d90-4ee49ef2ede8"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"string","description":"New status value (see EncounterStatus enum)"},"notes":{"type":"string","maxLength":1000,"description":"Audit note"}}},"example":{"status":"provider_in_progress","notes":"Provider starting review"}}}},"responses":{"200":{"description":"Status updated","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#\/components\/schemas\/Encounter"}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"422":{"description":"Invalid status transition","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}}}},"\/encounters\/{id}\/answers":{"patch":{"tags":["Encounters"],"summary":"Amend \/ append intake answers without creating a new encounter","description":"Merges a new set of intake answers into the encounter's\nexisting `tier3_encounter_questions` blob. Use this instead of\nre-submitting `POST \/telehealth\/intake\/unified` when the patient\nor integration needs to correct or extend the answer set on a\nchart that already exists.\n\n**Semantics:**\n  - Append\/update, not replace. Keys NOT in the incoming `answers`\n    map are preserved on the chart.\n  - Pass `null` for a slug to remove that answer.\n  - Same-value re-PATCH is a no-op (skipped from the diff to\n    avoid spurious audit entries from idempotent client retries).\n  - Each meaningful change is recorded in the encounter audit log\n    under `action=\"intake_answers_amended\"` with a per-slug diff\n    of `{before, after, op}` where `op` is one of `appended`,\n    `updated`, `removed`.\n\n**Tenant auth:** same rules as `GET \/encounters\/{id}` \/\n`index()` \u2014 sales-org tokens see encounters in their org +\ndescendant orgs, client tokens see encounters with matching\n`client_id`, patient tokens see only their own.\n","operationId":"amendEncounterAnswers","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"example":"019d5561-7b2b-7096-8d90-4ee49ef2ede8"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["answers"],"properties":{"answers":{"type":"object","additionalProperties":{"description":"Answer value keyed by `EncounterField.slug`. Same\nkeys as `POST \/telehealth\/intake\/unified`'s `answers`.\nCan be string \/ number \/ boolean \/ array (arrays\nfor multiselect \/ checkbox fields). Pass `null`\nto remove an existing answer.\n","oneOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"array","items":{"type":"string"}},{"type":"null"}]}}}},"example":{"answers":{"glp1_adverse_reaction_direct":"Yes","hba1c_value":7.4,"old_screening_field":null}}}}},"responses":{"200":{"description":"Amendment applied (may be a no-op if every submitted answer was already on file).","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"2 answer(s) amended on encounter 019d5561-..."},"data":{"type":"object","properties":{"encounter_id":{"type":"string","format":"uuid"},"amended_count":{"type":"integer","description":"Number of slugs that actually changed (excludes no-op same-value re-PATCH)."},"diff":{"type":"object","description":"Per-slug diff of meaningful changes.","additionalProperties":{"type":"object","properties":{"before":{"description":"Prior answer value, null if not previously set."},"after":{"description":"New answer value, null when op=removed."},"op":{"type":"string","enum":["appended","updated","removed"]}}}},"answers":{"type":"object","description":"Full updated `tier3_encounter_questions.questions` map after merge."}}}}},"example":{"success":true,"message":"2 answer(s) amended on encounter 019d5561-7b2b-7096-8d90-4ee49ef2ede8.","data":{"encounter_id":"019d5561-7b2b-7096-8d90-4ee49ef2ede8","amended_count":2,"diff":{"glp1_adverse_reaction_direct":{"before":"No","after":"Yes","op":"updated"},"hba1c_value":{"before":null,"after":7.4,"op":"appended"}},"answers":{"glp1_adverse_reaction_direct":{"slug":"glp1_adverse_reaction_direct","question_text":"Have you ever had an adverse reaction to a GLP-1?","answer":"Yes","answer_type":"string"},"hba1c_value":{"slug":"hba1c_value","question_text":"Most recent HbA1c value","answer":7.4,"answer_type":"string"}}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"description":"Caller's token does not have access to this encounter\n(different sales-org \/ client \/ patient than the encounter\nis bound to).\n","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}},"404":{"$ref":"#\/components\/responses\/NotFound"},"422":{"description":"`answers` field missing or not an object, OR the encounter\nhas no intake row to amend (use `POST \/telehealth\/intake\/unified`\nto submit answers for the first time).\n","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}}}},"\/encounters\/{id}\/assign":{"post":{"tags":["Encounters"],"summary":"Assign provider to encounter","description":"Manually assign a provider or use the auto-assignment engine.","operationId":"assignEncounter","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"example":"019d5561-7b2b-7096-8d90-4ee49ef2ede8"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"provider_profile_id":{"type":"string","format":"uuid","description":"Manual assignment"},"auto_assign":{"type":"boolean","description":"Use assignment engine"},"assignment_notes":{"type":"string","maxLength":500}}},"example":{"auto_assign":true,"assignment_notes":"Auto-assign to next available provider"}}}},"responses":{"200":{"description":"Provider assigned","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#\/components\/schemas\/Encounter"}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"422":{"$ref":"#\/components\/responses\/ValidationError"}}}},"\/encounters\/{id}\/video-token":{"get":{"tags":["Encounters"],"summary":"Get video consultation token","description":"Get a video call token for the encounter.","operationId":"getVideoToken","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"example":"019d5561-7b2b-7096-8d90-4ee49ef2ede8"}],"responses":{"200":{"description":"Video token","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"token":{"type":"string"},"provider":{"type":"string"},"room_name":{"type":"string"},"expires_at":{"type":"string","format":"date-time"}}}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/encounters\/{id}\/complete":{"post":{"tags":["Encounters"],"summary":"Complete encounter","description":"Complete the encounter. Delegates to CompleteConsultationAction.","operationId":"completeEncounter","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"example":"019d5561-7b2b-7096-8d90-4ee49ef2ede8"}],"responses":{"200":{"description":"Encounter completed","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#\/components\/schemas\/Encounter"}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"422":{"$ref":"#\/components\/responses\/ValidationError"}}}},"\/encounters\/{id}\/video-room":{"get":{"tags":["Encounters"],"summary":"Get the scheduled video room + durable join link","description":"Returns the encounter's durable video room and a persistent, signed patient join link (`join_url`) for a synchronous video consult. The `{id}` accepts either the encounter UUID or the human `encounter_number` (e.g. `ENC-1234567890`). Tenant-scoped \u2014 a caller may only read a room for an encounter they own (patient, provider, client, sales-org, admin). Returns 404 when the encounter has no video room (not a video consult, or no room provisioned yet). `join_url` is non-expiring for a scheduled room; the 15-minutes-before access gate + one-time-code re-verification secure it at redemption.\n","operationId":"getEncounterVideoRoom","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"Encounter UUID or encounter_number.","schema":{"type":"string"},"example":"ENC-1234567890"}],"responses":{"200":{"description":"The encounter's video room.","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"$ref":"#\/components\/schemas\/VideoRoom"},"meta":{"$ref":"#\/components\/schemas\/Meta"}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/encounters\/{id}\/schedule":{"post":{"tags":["Encounters"],"summary":"Attach a scheduled time to an existing encounter","description":"Books a time onto an already-created encounter \u2014 the \"create the encounter first, query availability, then attach the time\" flow. Create the encounter without an appointment (e.g. via `POST \/telehealth\/intake\/unified` with no `appointment` block), query `GET \/scheduling\/availability\/slots`, then POST the chosen time here.\nUnlike posting a bare `POST \/scheduling\/appointments`, this maps the time onto the ENCOUNTER via the canonical scheduling primitive: it sets `scheduled_at`, books + links the companion appointment, assigns the provider (\u2192 `SCHEDULED`), and provisions the video room \u2014 so the visit actually appears as a scheduled encounter (with `video_room` + persistent join link + reminders).\n**Provider is optional.** Supply `provider_profile_id` to pin a specific provider, or omit it to let the platform auto-assign an eligible provider available at that slot.\n**Time handling.** `scheduled_start` is ISO-8601: a value carrying an offset (or `Z`) is respected as-is; a naive `Y-m-d H:i:s` value is interpreted in `patient_timezone` (defaulting to the patient's resolved timezone). The time is always stored in UTC.\n`{id}` accepts the encounter UUID or `encounter_number`. Feature-gated: returns 404 when scheduled video rooms are not enabled on the instance.\n","operationId":"scheduleEncounter","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"Encounter UUID or encounter_number.","schema":{"type":"string"},"example":"ENC-1234567890"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["scheduled_start"],"properties":{"scheduled_start":{"type":"string","format":"date-time","description":"Visit start (ISO-8601). An explicit offset\/`Z` is respected; a naive `Y-m-d H:i:s` is read in `patient_timezone`. Stored UTC.\n","example":"2026-08-12T15:30:00-04:00"},"provider_profile_id":{"type":"string","format":"uuid","nullable":true,"description":"Optional. Omit to let the platform auto-assign an eligible provider available at the requested slot.\n","example":"c1d2e3f4-a5b6-7890-cdef-012345678901"},"patient_timezone":{"type":"string","maxLength":64,"nullable":true,"description":"IANA timezone used to interpret a naive `scheduled_start`. Defaults to the patient's resolved timezone.\n","example":"America\/New_York"},"reason":{"type":"string","maxLength":500,"nullable":true,"example":"Patient booked afternoon slot"}}},"example":{"scheduled_start":"2026-08-12T15:30:00-04:00","patient_timezone":"America\/New_York"}}}},"responses":{"200":{"description":"Scheduled. Returns the updated encounter (incl. video_room).","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"Encounter scheduled."},"data":{"$ref":"#\/components\/schemas\/Encounter"},"meta":{"$ref":"#\/components\/schemas\/Meta"}}}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"description":"Unauthorized (encounter belongs to another tenant)."},"404":{"description":"Encounter not found, or scheduled video rooms not enabled."},"422":{"description":"Validation failed, or the encounter is not schedulable (terminal \/ locked state).\n","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ValidationErrorResponse"}}}}}}},"\/encounters\/{id}\/reschedule":{"post":{"tags":["Encounters"],"summary":"Reschedule a scheduled (or no-showed) video visit","description":"Moves a scheduled or no-showed video encounter to a new time. Any token that owns the encounter may reschedule it \u2014 including a patient token (unlike a general update). The encounter keeps its durable room identity and persistent join link; the patient is notified and timed reminders re-arm for the new time. The encounter is never frozen closed \u2014 a no-showed encounter is re-opened to SCHEDULED. `{id}` accepts the UUID or `encounter_number`. Returns 404 when scheduled video rooms are not enabled on the instance.\n","operationId":"rescheduleEncounter","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"Encounter UUID or encounter_number.","schema":{"type":"string"},"example":"ENC-1234567890"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["scheduled_at"],"properties":{"scheduled_at":{"type":"string","format":"date-time","description":"New v
[...]
